[2019-10-02 14:56] #504 closed

[2019-10-02 15:03] willdurand commented on #518
I thought there were some already, like https://github.com/mozilla/addons-server/issues/8727 maybe. @EnTeQuAk what do you think?

[2019-10-02 18:24] #1091 closed

[2019-10-02 18:26] kumar303 opened #1096 "Simplify how comments are fetched and loaded"
A thunk to fetch and load comments was added in https://github.com/mozilla/addons-code-manager/issues/1091

This contained some mapping code to minimize the number of redux dispatches when fetching comments. I think we can make changes to the `setComments` action so that this mapping isn't needed.

This supports rendering comments: https://github.com/mozilla/addons-code-manager/issues/713

[2019-10-02 20:47] mirefly commented on #1094
@kumar303  The cause is that [selectedPath](https://github.com/mozilla/addons-code-manager/blob/master/src/reducers/versions.tsx#L201) is in a specific `version`. Therefore, loading a new `version` (selecting a different new version in compare mode) will have a different selected file path.

One idea in my mind is to add a new key `versions.lastVersionId` in Redux store, so that we can access the

[2019-10-02 21:53] #1096 closed

[2019-10-03 09:31] ruchikabgosain commented on #1033
hey @kumar303 , I suppose all these story modules would move into their own directories? also, `const req = require.context('../', true, /.stories.tsx$/); ` changes to `const req = require.context('../', true, / '../',stories.tsx$/);' ?
let me know if this works?

![image](https://user-images.githubusercontent.com/30324532/66115352-43900580-e5ee-11e9-8085-7e3d41630e62.png)

[2019-10-03 09:35] ruchikabgosain commented on #1032
hey @kumar303 could you let me know which files need editing?

[2019-10-03 10:57] ioanarusiczki commented on #1082
@kumar303
Here are my test results on dev with FF69(Win10) on the Browse page:
- The "+" button to add a comment is present on every code line.
- Many code lines are long - so the situation below is pretty common - user must scroll to read a longer comment (depends on the lenght of the code line).

![what I can do](https://user-images.githubusercontent.com/33448286/66119883-4684f900-e5e2-11e9-9063

[2019-10-03 14:03] alexkayabula commented on #1093
Hello @kumar303, I am trying to reproduce this issue but when I run the local app and sign in I keep getting this error `Unexpected status for GET /reviewers/addon/494431/versions/1532144/?lang=en-US: 403`.
It is associated with `{"detail":"You do not have permission to perform this action."}`.
Any help is much appreciated.

[2019-10-03 19:07] #919 closed

[2019-10-03 21:46] kumar303 opened #1101 "Cancel entering a comment"
### Describe the problem and steps to reproduce it:

* Sign in
* Browse a version
* Click the plus sign next to a line of a file to enter a comment
* Decide you want to cancel entering a comment

### What happened?

There is only a *Save* button, no cancel button.

### What did you expect to happen?

There should be a cancel button that closes the form.

### Anything else we should know?

[2019-10-03 22:21] kumar303 commented on #1082
Yeah, the wide form problem is tracked in https://github.com/mozilla/addons-code-manager/issues/997 . You could try commenting on a css file which typically has short lines. I haven't really tried to break the comment form so any testing there would be appreciated (emojis, empty comments, etc). Thanks!

[2019-10-07 07:58] ioanarusiczki commented on #1082
@kumar303
- copy pasting emojis in the field works - the comment is saved and emojis are displayed.
- if I save an empty comment the `Saving` state is shown and after it nothing happens - it should not allow empty comments, probably the `Save` should be disabled without at least 1 char typed in the filed.
- a long unbroken string will break the layout of the page.

![issues](https://user-images.gi

[2019-10-07 13:58] ioanarusiczki opened #1106 "Continuous " Saving" state is displayed when saving an empty comment"
Followup for https://github.com/mozilla/addons-code-manager/issues/1082

STR:
1. Load a file for an add-on in code-manager such as https://code.addons-dev.allizom.org/en-US/browse/617545/versions/1688861/
2. Submit an empty comment (just click "Save")

Expected result:
An empty comment cannot be submitted - the field requires at least one char and then the "Save" button becomes enabled.

Actual re

[2019-10-07 14:21] ioanarusiczki opened #1108 "[Reviewer comments] A long unbroken string breaks the layout of the page"
Followup for https://github.com/mozilla/addons-code-manager/issues/1082

STR:
1. Add a long unbroken string as comment using the "+" button for a code line in a file such as for https://code.addons-dev.allizom.org/en-US/browse/617545/versions/1688861/
2. Save and observe the layout of the page

Expected result:
No layout issues.

Actual result:
The text looks cut, when other comments are available

[2019-10-07 14:26] ioanarusiczki commented on #1082
@kumar303
I filed the issues here:
https://github.com/mozilla/addons-code-manager/issues/1106
https://github.com/mozilla/addons-code-manager/issues/1108
This issue is verified on dev - FF69(Win10).

[2019-10-07 14:59] ioanarusiczki commented on #919
@kumar303 Please let me know if my test scenarios are alright for this issue.

For Browse View:
- navigate through files (next, previous file with keyboard navigation)
- navigate to the next previous linter message using keyboard
- select randomly a file to view.

In all cases the pages should load promptly/with no delays ?

[2019-10-07 16:50] kumar303 commented on #919
@ioanarusiczki

Navigating to the *next* file (not previous) using the keyboard should load it without a delay. Clicking a link to the next file should also load it without a delay.

Pre-loading for this isn't implemented. If you are able to file an issue, please do.

No pre-loading for this was implemented. There isn't really a way to support pre-loading for this since we don't know what file the

[2019-10-07 17:27] kumar303 commented on #1108
Thanks. This is similar to https://github.com/mozilla/addons-code-manager/issues/997 but will need to be solved in a different way.

[2019-10-07 17:29] kumar303 commented on #1082
Thanks for catching those!

[2019-10-08 08:44] ioanarusiczki commented on #1096
@kumar303 I tested yesterday the comment text box for https://github.com/mozilla/addons-code-manager/issues/1082
If there's anything else I can check for this issue please let me know.

[2019-10-08 11:50] ioanarusiczki commented on #919
@kumar303 I tested with a couple of samples and it works for me.
https://code.addons-dev.allizom.org/en-US/browse/617545/versions/1688861/
https://code.addons-dev.allizom.org/en-US/browse/491860/versions/1528357/
https://code.addons-dev.allizom.org/en-US/browse/494431/versions/1532144/

![Next](https://user-images.githubusercontent.com/33448286/66393311-deb42100-e9da-11e9-8fec-85fa91c1add6.gif)

V

[2019-10-08 12:13] ioanarusiczki opened #1111 "Preload next linter message in Browse to increase perceived performance"
As a followup to the already implemented preload for the next file https://github.com/mozilla/addons-code-manager/issues/919

STR:
1. Go to a file such as https://code.addons-dev.allizom.org/en-US/browse/494431/versions/1532144/?allowSlowPages=true&messageUid=54873d7a5cfb421e8f4b331082a2f9b2&path=ext%2Fbackground.js#I655
2. The user can navigate to the next linter message/warning using keyboard sh

[2019-10-08 14:08] #713 closed

[2019-10-09 20:03] kumar303 opened #1114 "Add API support for deleting a comment"
Add API changes needed to delete a comment. See https://github.com/mozilla/addons-code-manager/issues/714 for the UI.

**For QA**: this change will affect all API calls so please do a rough sanity check on any feature involving API calls (browsing, comparing, viewing linter messages, log in, log out)

[2019-10-09 22:10] #1114 closed

[2019-10-10 14:02] ioanarusiczki commented on #713
@kumar303 I noticed that on manifest.json this works and I could even send with Postman comments, to modify or delete them.
The problem is with the other files, for the add-on I tested with on .txt or .html files after page refresh I did not see the comments posted - so I should investigate it further with another addon and other file types.

I will get back with more detailed testing results tomo

[2019-10-10 14:21] kumar303 commented on #713
ok, let me know what the results are. Maybe there were some API errors in the network console? Also, let me know what add-ons you had this trouble with because I'm not totally sure if commenting works on all versions (maybe the version has to be in a specific state).

[2019-10-10 21:18] kumar303 opened #1121 "Add thunk / reducer for deleting a comment"
Add a thunk / reducer for deleting a comment. See https://github.com/mozilla/addons-code-manager/issues/714 for the UI.

[2019-10-11 12:20] ioanarusiczki commented on #713
@kumar303

first example: https://code.addons-dev.allizom.org/en-US/browse/617545/versions/1688861/?path=scripts%2Fshare.js.

I can see after refresh the comments saved for manifest.json but on the rest of the files they won't show up anymore.

second example: https://code.addons-dev.allizom.org/en-US/browse/491860/versions/1528357/?path=manifest.json

I can't see the the saved comments anywhere (

[2019-10-11 13:00] ioanarusiczki commented on #713
@kumar303
In the Network I did not find errors
The only errors shown by Consoles are the two below:

![the only errors](https://user-images.githubusercontent.com/33448286/66652848-597d7600-ec3f-11e9-8f28-6f7f849ca6e1.png)

[2019-10-11 13:59] kumar303 commented on #713
Do you have exact steps to reproduce the console error *Cannot create key ... because fileName is empty*? I tried adding comments to each of the links up above and I was not able to reproduce this error. Maybe I wasn't commenting on the right file? This error is a bug we need to fix.

[2019-10-11 14:00] kumar303 commented on #713
Also, keep in mind that if you have left more than 25 comments, no new comments will show up when you refresh the page until https://github.com/mozilla/addons-code-manager/issues/1093 is fixed.

[2019-10-11 14:12] kumar303 commented on #713
I found the error in our logs: https://sentry.prod.mozaws.net/operations/addons-code-manager-dev/issues/6449781/?query=is:unresolved%20fileName

It suggests that you were commenting on line 9 of `popup.html` (https://code.addons-dev.allizom.org/en-US/browse/491860/versions/1528357/?path=popup.html#I9) but commenting on that line doesn't reproduce the error for me. Hmm.

[2019-10-11 14:13] ioanarusiczki commented on #713
@kumar303
- That error appears after a page refresh. (I leave a comment than I refreshed the page to see what happens).
I think https://github.com/mozilla/addons-code-manager/issues/1093 is 25 maximum per file so it won't explain why in other files the comments disappear after a page refresh but I'll try with new samples on Monday again and make sure I don't cross the 25 limit per all files and se

[2019-10-11 14:14] kumar303 commented on #713
The current limitation is to only show 25 comments per version, which includes all files for that version.

[2019-10-11 14:16] kumar303 commented on #713
Ah, so it is reproducible for you every time? Can you open a new issue for that, including the URL and exact file you commented on?

[2019-10-11 14:57] kumar303 opened #1123 "Send Redux actions to Sentry on error"
I was debugging [this error](https://github.com/mozilla/addons-code-manager/issues/713#issuecomment-541081491) but I'm not sure what caused it and I'd really like to see all Redux actions.

This Redux/Sentry middleware looks easy enough to configure: https://github.com/vidit-sh/redux-sentry-middleware

[2019-10-14 07:59] ioanarusiczki opened #1126 "Error: Cannot create key "fileName:null;line:21" because fileName is empty (while loading comments)"
As a followup for https://github.com/mozilla/addons-code-manager/issues/713#issuecomment-541076423

STR:
1. Load https://code.addons-dev.allizom.org/en-US/browse/491860/versions/1528357/?path=popup.html
2. Open the Web Console and check for the following error `Error: Cannot create key "fileName:null;line:21" because fileName is empty`. In case it is not shown just refresh the page -> it will be d

[2019-10-14 13:44] ioanarusiczki commented on #713
@kumar303
I tested on dev again and here are my results:
- I could make comments on files in different states: waiting approval, approved, disabled, rejected except for a deleted file.
In case I open a deleted file from the review page I receive a 404 for the draft-comment API on the top of the page, and if I try to make a comment another 404 (same if I try to make a comment on a deleted file from

[2019-10-14 18:51] #1123 closed

[2019-10-14 18:58] kumar303 commented on #1126
I can't reproduce this. Had you maybe used Postman to enter a comment on this version directly with the API? The page only loads comments created by the currently signed in user which is probably why I can't reproduce it.

[2019-10-14 19:04] kumar303 commented on #713
What do you mean by rejected? Were you able to successfully create comments for each of those states?

Hmm, I'm a bit confused because I am not aware of how to review a deleted file. Could you provide me an example link in the reviewer tool and the exact URL on code manager and the exact file you tried to comment on? In either case, I suggest opening a new bug for this.

Yeah, we'll add a *cancel*

[2019-10-14 19:53] #1121 closed

[2019-10-14 19:55] kumar303 commented on #1126
@ioanarusiczki could you trigger this error again? I just landed a debugging helper (https://github.com/mozilla/addons-code-manager/issues/1123) which will give me more information about it.

[2019-10-15 06:48] ioanarusiczki commented on #1126
@kumar303 I reproduced the issue again - reloading popup.html and manifest.json.
I see 26 comments made for this addon and version with
https://addons-dev.allizom.org/api/v4/reviewers/addon/491860/versions/1528357/draft_comments/
I'm pretty sure I used Postman too for a part of these while testing.

[2019-10-15 08:06] ioanarusiczki opened #1130 "404 is shown for the comment API on deleted files"
Prerequisites:
From dev hub - I delete a version (as the developer).

STR:
1. Go to https://reviewers.addons-dev.allizom.org/en-US/reviewers/review/404-bookmarks
2. Open code manager for one of the deleted files such as https://code.addons-dev.allizom.org/en-US/browse/618060/versions/1689371/
3. Notice the red warning on the top of the page
4. Try to add a reviewer comment

Results:
A 404 is displ

[2019-10-15 08:41] ioanarusiczki commented on #713
@kumar303
Rejected = a reviewer is rejecting the file from the add-on review page - which turns to "Disabled" state for the add-on.

Yes, I could add comments on different files on that version and after refreshing the page they were still displayed.

I filed https://github.com/mozilla/addons-code-manager/issues/1130 for deleted files for further investigation.

Also I filed the documentation issu

[2019-10-15 14:00] ioanarusiczki opened #1132 "Issues when navigating to linter warnings on a file with multiple warnings"
STR:
1. Go to https://code.addons-dev.allizom.org/en-US/compare/492486/versions/1529211...1688395/?allowSlowPages=true&messageUid=f568ab352aec47b495ca4304647d401d&path=js%2Fvapi-background.js#N1245
you will notice the file contains multiple linter warnings.
2. Click on a line code before the first linter warning (which is at line 59)
3. Use the keyboard nav to go to the linter warning with `z`

Ex

[2019-10-15 14:12] ioanarusiczki commented on #1114
@kumar303
I verified on dev with FF69(Win10)
Browse
https://code.addons-dev.allizom.org/en-US/browse/492486/versions/1529211/
Compare
https://code.addons-dev.allizom.org/en-US/compare/492486/versions/1529211...1688395/
- no errors in the network for the APIs while navigating through files in Browse and Compare, files load and I did not find anything unusual while browsing except for https://github

[2019-10-16 20:14] kumar303 commented on #1126
Huh. The most recent error I found on dev was from just before I left [this comment](https://github.com/mozilla/addons-code-manager/issues/1126#issuecomment-541886755) so it doesn't include the added debugging. Could you try it once more at https://code.addons-dev.allizom.org/en-US/browse/491860/versions/1528357/?path=popup.html ?

[2019-10-16 20:19] kumar303 commented on #1126
Aha! Nevermind about retrying it once more. I had a theory on how to reproduce the error and it worked 🎉 It's an API bug that I will file.

[2019-10-16 20:27] kumar303 commented on #1126
Here is the API bug: https://github.com/mozilla/addons-server/issues/12635

Once a fix for that lands, I can delete all comments on the dev server to make the errors go away.

[2019-10-17 06:35] ioanarusiczki commented on #1126
@kumar303 Aha. I send a request
 "comment":"text now",
	"filename":null,
	"lineno":5
and it was created.
Nice catch! :)

[2019-10-17 19:40] #714 closed

[2019-10-17 20:16] kumar303 opened #1139 "Always show the top NavBar"
For the UI of https://github.com/mozilla/addons-code-manager/issues/114 I was considering adding some actions to the NavBar. Through this process I noticed that the NavBar is hidden when the page first loads and this creates jumpiness. Let's always show the NavBar.

For QA: check for regressions in the top NavBar shown on the home page, browse, compare.

[2019-10-17 22:00] #1139 closed

[2019-10-18 11:30] ioanarusiczki commented on #1139
@kumar303 I don't see issues. It works as before (compared with stage).
The header is loaded with the sign out and  `displayname` next to it. On the left side the name of the add-on loads with a small delay (it's the same on stage).
Reloading the page works the same way.
`Log out` is active while the content loads (for the rest of the page).

![Header is fine](https://user-images.githubusercontent

[2019-10-18 15:37] #1062 closed

[2019-10-18 16:28] mirefly commented on #1032
@ruchikabgosain  It looks like this line,
https://github.com/mozilla/addons-code-manager/blob/be72debbfb3790028cecbb3bad7b142ea4b0e5d7/src/components/FileTreeNode/index.tsx#L241
and respective tests in[ `FileTreeNode/index.spec.tsc`](https://github.com/mozilla/addons-code-manager/blob/master/src/components/FileTreeNode/index.spec.tsx)

[2019-10-19 20:24] kumar303 commented on #1032
Sorry @ruchikabgosain , I almost missed your question! Thanks, @mirefly -- yes, I think that is the correct place to fix this.

[2019-10-21 14:31] ioanarusiczki opened #1143 "A comment is visible only for the reviewer who made it"
STR:
1. Load a Browse page and leave a comment such as
https://code.addons-dev.allizom.org/en-US/browse/495710/versions/1541609/?path=src%2Faction%2Findex.html
2. Log out
3. Log in back with another user with code manager rights (admin or add-on reviewer)

Expected result:
The comment left by the first reviewer is visible but cannot be edited/deleted.

Actual result:
The comment is not displayed f

[2019-10-21 14:37] ioanarusiczki commented on #714
@kumar303 I tested this on dev with FF69(Win10).

The functional testing : the button is working. A delete can be done using the `Delete` button.
Also as mentioned in https://github.com/mozilla/addons-server/issues/11380 the Delete through API works as expected.

Test results:
- when the code line is long the button is not visible on the page. Also for shorter code lines when I resize the browser

[2019-10-21 14:58] kumar303 commented on #1143
This is expected to me. When a reviewer is in the process of reviewing, the comments should only be visible to that reviewer.

However, when the reviewer *submits* their comments to the developer, maybe we should show historic comments to other reviewers but I'm not sure. I think it's fine to figure that out later, after we implement https://github.com/mozilla/addons-server/issues/12660 and https:

[2019-10-21 14:58] #1143 closed

[2019-10-21 15:03] kumar303 commented on #714
Thanks for the detailed feedback on this.

Can you file an issue for that? Until we fix https://github.com/mozilla/addons-code-manager/issues/997 we could move the delete button to the left to address these issues.

Good idea. Can you file an issue?

Yeah, this makes sense but the confirmation state should still convey that a deletion is about to happen. Can you file an issue to make it *Confirm d

[2019-10-21 19:11] kumar303 commented on #713
ok, thanks, we'll tackle this in https://github.com/mozilla/addons-code-manager/issues/1130 . Showing a 404 error is good for now because at least it's clear that an error is happening.

[2019-10-21 19:42] kumar303 opened #1144 "Adjust comments reducer for finalizing a review"
The UI in https://github.com/mozilla/addons-code-manager/issues/114 deals with finalizing a review so that a reviewer can prepare to send comments to the developer. The reducer needs to support a few things:

* Allow `Navbar` to select a list of comments so it can render a summary about comments saved so far.
* Support toggling an overlay that will contain a summary of all comments.

[2019-10-22 07:23] ioanarusiczki commented on #1143
@kumar303 I understand. I thought that perhaps an admin could see what an add-on reviewer left as a comment but without any edit rights.

[2019-10-22 08:09] ioanarusiczki opened #1147 "Move Delete comment button to the left"
Followup for https://github.com/mozilla/addons-code-manager/issues/714#issuecomment-544557057

Until https://github.com/mozilla/addons-code-manager/issues/997 is fixed the "Delete" button for a comment should be moved to the left because:
- when the code line is long the button is not visible on the page.
- resizing the browser the button won’t be visible unless I do not collapse the side panels.

[2019-10-22 08:38] ioanarusiczki opened #1148 "Increase the contrast between the background and the border for "Cancel" and "Delete, really""
Follwup for https://github.com/mozilla/addons-code-manager/issues/714#issuecomment-544557057

STR:
1. Go to a Browse page such as https://code.addons-dev.allizom.org/en-US/browse/616909/versions/1688399/?path=manifest.json
2. Write a comment and save it
3. Click `Delete` then use the `Tab` key to navigate to the `Cancel` and `Delete,really?` buttons

Expected results:
The borders should be more ob

[2019-10-22 10:29] ioanarusiczki opened #1149 "Make delete comment confirmation button more explicit"
Followup for https://github.com/mozilla/addons-code-manager/issues/714#issuecomment-544557057

STR:
1. Load a file https://code.addons-dev.allizom.org/en-US/browse/618060/versions/1689369/
2. Add a comment and save it then delete the comment
3. Observe the buttons after `Delete` is clicked

Expected result:
`Cancel` and `Confirm delete` are available.

Actual result:
It's `Cancel` and `Delete, rea

[2019-10-22 10:31] ioanarusiczki commented on #714
@kumar303 Done.
This issue is verified on dev with FF69(Win10).

[2019-10-22 14:21] ioanarusiczki commented on #1062
@kumar303 I tested with a couple of compare pages and it works for me.

![moves well ](https://user-images.githubusercontent.com/33448286/67295825-53fe1680-f4f0-11e9-829b-40fe47a67420.gif)

Verified on dev with FF69(Win10).

[2019-10-22 15:53] #1144 closed

[2019-10-23 08:45] #346 closed

[2019-10-23 08:45] #396 closed

[2019-10-23 08:45] #405 closed

[2019-10-23 08:45] #416 closed

[2019-10-23 08:45] #467 closed

[2019-10-23 08:45] #404 closed

[2019-10-23 08:45] #524 closed

[2019-10-23 15:53] kumar303 opened #1152 "Create CommentSummary component"
In order to get a basic UI working for finalizing a review (https://github.com/mozilla/addons-code-manager/issues/114), we need a CommentSummary component. This will allow the reviewer to generate some text output of all the comments they've made so far.

[2019-10-23 17:17] mirefly opened #1153 "scrollToSelectedLine not called when navigating between linter messages of the same line"
### Describe the problem and steps to reproduce it:

- Go to https://code.addons-dev.allizom.org/en-US/browse/491424/versions/1527853/?messageUid=d483590601984346a2b3f5156d7ab321&path=js%2Foptions_all.js#I24
- Scroll to the other part of the page
- Press `z`

### What happened?
The selected linter message (Or selected line?) should be scrolled into view.

### What did you expect to happen?
No scro

[2019-10-24 14:02] kumar303 commented on #1096
Ah, yes, I forgot to mention that QA for this is just regression testing. What you checked already should cover it. Thanks!

[2019-10-25 05:21] erosman opened #1159 "Compare is not available in Contents review"
Often happens when a previously reviewed version is disabled. Under these circumstances, the "Compare" option/link is not displayed.

However, in the old review window, it is possible to set a compare manually by selecting the desired version. In other words, change from 'Contents' to 'Compare' review.

In the new Code Manger review, I did not see such option. If it is there, then please let me kn

[2019-10-25 07:43] ioanarusiczki commented on #1144
@kumar303 When first time a file is loaded (or at page reload) the comments appear with a small delay compared with the rest of the content.
It's the same behavior as before, it is not a regression.

Please take a look:

![loading](https://user-images.githubusercontent.com/33448286/67552726-475a0800-f714-11e9-84af-ad3278e43280.gif)

[2019-10-25 17:39] #1152 closed

[2019-10-25 19:32] kumar303 commented on #1144
Yeah, I've noticed this, too. I'm not sure if there's anything we can do about it. Typically, I'd like to see a skeleton screen (while loading) for something like this but that wouldn't make sense here as not all files will have comments and we can't guess where they would appear in the file. We could maybe add a loading indicator after some `NavBar` UI for https://github.com/mozilla/addons-code-m

[2019-10-25 19:58] kumar303 opened #1162 "Browse a deleted version"
### Describe the problem and steps to reproduce it:

In the scenario described by https://github.com/mozilla/addons-code-manager/issues/1159 , the reviewer would like to browse a deleted version in Code Manager. This will help them look through historic code.

Actual example: https://reviewers.addons.mozilla.org/reviewers/review/989342/

### What happened?

The API returns a 404 (see https://githu

[2019-10-25 20:02] kumar303 opened #1163 "Compare a non-deleted version to a deleted version"
### Describe the problem and steps to reproduce it:

If a developer deletes historic versions, it should still be possible to view a comparison of the new version compared to the old deleted one. This will help the reviewer look for changes in the new version.

See https://github.com/mozilla/addons-code-manager/issues/1159

### What happened?

Viewing a comparison like this leads to the API return

[2019-10-25 20:03] kumar303 commented on #1159
Thanks, I didn't know about this behavior. We should definitely show a comparison selector to help out with this case.

This also led me to file a few related issues:
* https://github.com/mozilla/addons-code-manager/issues/1162
* https://github.com/mozilla/addons-code-manager/issues/1163

[2019-10-25 20:04] kumar303 commented on #1159
We do have https://github.com/mozilla/addons-code-manager/issues/758 on file about always showing the compare selector but I want to keep this one open to illustrate the specific case of when developers delete historic versions.

[2019-10-25 21:32] kumar303 opened #1164 "Create CommentSummaryButton component"
In order to get a basic UI working for finalizing a review (https://github.com/mozilla/addons-code-manager/issues/114), we need a `CommentSummaryButton` component. This will allow the reviewer to pop open an overlay that will show text output of all the comments they've made so far.

[2019-10-25 21:38] kumar303 opened #1166 "Rename FinishReviewOverlay to SummaryOverlay"
When `CommentSummaryButton` (https://github.com/mozilla/addons-code-manager/issues/1164) took shape, it became clear that we should rename the reducer actions associated with it from things like `toggleFinishReviewOverlay()` to `toggleSummaryOverlay()`.

[2019-10-26 16:40] #580 closed

[2019-10-28 12:06] #601 closed

[2019-10-28 12:42] ioanarusiczki commented on #1144
@kumar303 A loading indicator could improve the UI. Great idea.
Meanwhile, I'll mark this issue verified on dev with FF70.

[2019-10-28 15:06] kumar303 commented on #1033
@ruchikabgosain I think that will work, yep. Let's work on https://github.com/mozilla/addons-code-manager/issues/1032 together then tackle more issues after that. Thanks for diving in!

[2019-10-28 17:08] kumar303 opened #1169 "Remove custom bootstrap Overlay type definition"
The patch in https://github.com/mozilla/addons-code-manager/pull/1165 added a custom type definition for the `react-bootstrap` `Overlay` component to work around https://github.com/react-bootstrap/react-bootstrap/issues/4717 . When that upstream issue is fixed, let's remove the custom type definition.

[2019-10-28 18:20] #1166 closed

[2019-10-28 20:13] #1147 closed

[2019-10-28 20:13] #1149 closed

[2019-10-28 22:10] #114 closed

[2019-10-29 13:42] ioanarusiczki commented on #1149
@kumar303 Verified on dev with FF70(Win10).

![Confirm delete](https://user-images.githubusercontent.com/33448286/67772337-9381b100-fa62-11e9-897a-5d3173e1b99d.gif)

[2019-10-29 13:51] ioanarusiczki commented on #1147
@kumar303 Verified on dev with FF70 (Win10).

![moved to the left](https://user-images.githubusercontent.com/33448286/67773175-faec3080-fa63-11e9-9c7f-0f6d8ec55e90.gif)

[2019-10-29 15:45] ioanarusiczki commented on #114
@kumar303 I checked this on dev with FF69(Win10):

**Test results**

Functionality:
- the `Comment Summary` button can be opened and the content is displayed as[ here](https://user-images.githubusercontent.com/55398/67706756-5399cb80-f987-11e9-911e-fe3d9e60faed.png)
- I could close it using `Close` button, `esc` key or clicking outside the box or another action such as clicking on a code line from

[2019-10-29 20:35] kumar303 opened #1174 "Indicate when a file or folder has comments"
### Describe the problem and steps to reproduce it:

* Add a lot of comments in multiple files
* Begin finishing your review (https://github.com/mozilla/addons-code-manager/issues/114)

### What happened?

If you want to revisit / delete / edit some comments, it's hard to know which files and folders have comments.

### What did you expect to happen?

Just like for linter messages, the file tree s

[2019-10-29 20:39] kumar303 opened #1175 "Add a selector / reducer to know if a file path has comments or not"
When rendering comment icons in a file tree (https://github.com/mozilla/addons-code-manager/issues/1174), we need better app state to know if a file path has comments or not. With the current app state, it would take `O(numberOfFilePaths * numberOfComments)` complexity to display icons.

[2019-10-29 21:14] kumar303 commented on #114
Huh. I can confirm that these are all Windows specific issues. Can you file bugs?

[2019-10-29 21:28] #905 closed

[2019-10-30 09:01] ioanarusiczki opened #1181 "The font for `Comment Summary` button and the rest of the NavBar looks different on Windows"
Followup for https://github.com/mozilla/addons-code-manager/issues/114

1. The font for `Comment Summary` button looks different on Win10 from https://user-images.githubusercontent.com/55398/67706756-5399cb80-f987-11e9-911e-fe3d9e60faed.png (the Mac OS)

as it looks on Windows

![windows font](https://user-images.githubusercontent.com/33448286/67842437-d72bf780-fb02-11e9-9450-540c7f7ffc17.png)

as

[2019-10-30 09:33] ioanarusiczki opened #1183 "The blue border is not available on Win for the Comment Summary box"
Followup for https://github.com/mozilla/addons-code-manager/issues/114

STR:
1. Load a page which contains reviewer comments https://code.addons-dev.allizom.org/en-US/browse/390151/versions/1688302/?path=manifest.json
2. Click on `Comment Summary`
3. Observe the the borders of the text box

Expected result:

![MacOS](https://user-images.githubusercontent.com/33448286/67845848-e01fc780-fb08-11e9-83

[2019-10-30 09:47] ioanarusiczki opened #1184 "Font in the Comment Summary looks too small on Desktop"
Followup for https://github.com/mozilla/addons-code-manager/issues/114

STR:
1. The font in the comment box looks too small on desktop.

Expected result:
increase font size.

![windows](https://user-images.githubusercontent.com/33448286/67846776-71dc0480-fb0a-11e9-83db-d96438944546.png)

Notes:
This is reproducible with FF70(Win10).
Not reproducible on MacOS.

[2019-10-30 14:57] #1175 closed

[2019-10-30 17:19] #1174 closed

[2019-10-31 09:05] ioanarusiczki opened #1187 "Create a loading indicator for the NavBar elements"
As discussed https://github.com/mozilla/addons-code-manager/issues/114#issuecomment-547967305

STR:
1. Load a Browser page which contains reviewer comments https://code.addons-dev.allizom.org/en-US/browse/390151/versions/1688302/?messageUid=0f2fa4cbd8354a6fb1020f5f7ec2369e&path=mozilla-recommendation.json
2. Observe the NavBar while the page is loading.

Expected result:
A loading indicator is ava

[2019-10-31 09:09] ioanarusiczki commented on #114
@kumar303 Done https://github.com/mozilla/addons-code-manager/issues/1187

[2019-11-01 15:41] #1093 closed

[2019-11-01 20:25] kumar303 opened #1193 "Add helper for creating an error response"
Some API code deals with an [`ErrorResponseObject`](https://github.com/mozilla/addons-code-manager/blob/master/src/api/index.tsx#L120). Here's how we write tests to simulate this:

[code]

We should replace this with a helper similar to [`createFakeApiPage()`](https://github.com/mozilla/addons-code-manager/blob/ceb6e9158b68d2dec1e667a99f6ea0ae25148804/src/test-helpers.tsx#L943). Maybe something li

[2019-11-01 21:41] kumar303 commented on #1187
@ioanarusiczki ah, I also noticed that the API could be faster here. I filed https://github.com/mozilla/addons-server/issues/12779

Here are some thoughts on the loading indicator
- It's currently impossible to know if a version has saved comments or not before making an API request for those comments. Thus, it wouldn't make sense (or would it?) to show a loading indicator for the case where the v

[2019-11-04 09:28] ioanarusiczki commented on #1187
@kumar303 Indeed, I see that the response timings increase with the number of comments made.

12 comments from AMO dev

![Frontend timing](https://user-images.githubusercontent.com/33448286/68110677-1b017100-fef6-11e9-8a08-ce0d270447de.png)

12 comments from Postman - the API response :

![Response for 12 comments](https://user-images.githubusercontent.com/33448286/68110724-30769b00-fef6-11e9-86cc

[2019-11-04 12:59] ioanarusiczki commented on #905
@mirefly I tested the scenario with https://code.addons-dev.allizom.org/en-US/browse/502724/versions/1541510/?messageUid=3267292346394c72b7b2cefad3eea174&path=lib%2Fbrowser-polyfill.js#I0
and I could not reproduce the issue: after scrolling down when I press `a` , the message is shown at the top of the page.

![the linter message is shown ](https://user-images.githubusercontent.com/33448286/681227

[2019-11-04 14:27] ioanarusiczki commented on #1174
@kumar303
Looks good to me. The only UI thing which would be that the message icon is a bit unaligned next to a linter warning but it doesn't bother me.

![a bit unaligned](https://user-images.githubusercontent.com/33448286/68127245-28caec80-ff1e-11e9-8035-cbdfcda8d1c3.png)

as functionality:
- it is available when a message is available for a file. When all messages for a particular file are dele

[2019-11-04 15:21] ioanarusiczki commented on #1093
@kumar303

Frontend testing:

I verified it with https://code.addons-dev.allizom.org/en-US/browse/618280/versions/1689601/?path=popup%2Fcss%2Fbootstrap.min.css

I don't know if there's a limit, but I went up to 50 comments on different files. The number is updated correctly and comments are displayed after a page refresh.

I did some backend testing too :

I posted a comment using the [API ](https

[2019-11-04 15:28] ioanarusiczki commented on #1175
@kumar303 Let me know if there's anything else that I should verify that was not done for https://github.com/mozilla/addons-code-manager/issues/1174

[2019-11-04 15:39] kumar303 commented on #1093
Thanks.

Can you file an `addons-server` bug for that? It should not be possible to comment on a line number that doesn't exist.

Yeah, this API bug is tracked in https://github.com/mozilla/addons-server/issues/11813

[2019-11-04 16:18] ioanarusiczki commented on #1093
@kumar303
Done https://github.com/mozilla/addons-server/issues/12790

I can mark this issue verified on dev with FF70(Win10).

[2019-11-04 17:24] kumar303 commented on #1175
Ah, whoops, this was meant to be `qa: not needed` since, yeah, QA for it happened in https://github.com/mozilla/addons-code-manager/issues/1174

[2019-11-04 17:28] kumar303 commented on #1174
Hmm, yeah. I noticed this, too. The icons are indeed perfectly center-aligned but because the comment icon is a box with a triangle at the bottom, the box appears off center.

[2019-11-04 22:30] kumar303 opened #1198 "Buttons are sometimes blue when they should be gray"
### Describe the problem and steps to reproduce it:

* Load the `AccordionMenu` story from https://mozilla.github.io/addons-code-manager/?path=/story/accordionmenu--long-content

### What happened?

The buttons are blue.

### What did you expect to happen?

They should be gray.

### Anything else we should know?

The `AccordionMenu` on the main site still shows gray buttons so this is a very subtl

[2019-11-05 15:49] #997 closed

[2019-11-05 15:55] kumar303 opened #1202 "Enable commenting in production"
We have completed enough [commenting issues](https://github.com/orgs/mozilla/projects/66) to ship the feature! It will be rough around the edges but it should allow reviewers to perform a basic review. This issue is to flip the config flag on in production so we can get some feedback from reviewers.

[2019-11-05 16:13] #1202 closed

[2019-11-05 21:52] mirefly commented on #1101
@kumar303 May I take on this?

[2019-11-05 22:01] kumar303 commented on #1101
Yep, go for it. You can check out the current delete button to get an idea for it.

[2019-11-05 22:04] kumar303 commented on #1101
btw, I've been using http://localhost:3000/en-US/browse/616959/versions/1688394/ to test comments but I think it should work fine in other versions.

[2019-11-06 09:55] ioanarusiczki commented on #1198
@kumar303
- is this reproducible only in the specified link ? https://mozilla.github.io/addons-code-manager/?path=/story/accordionmenu--long-content

- on code manager dev or stage with Win10 and FF70 I've never seen the buttons being blue (browse or compare page). I also investigated a bit on a MacOS and reloaded the pages but the buttons stay gray.

[2019-11-06 13:35] ioanarusiczki commented on #997
@kumar303
For most of the files I've checked on AMO stage it looks good, meaning that the long code lines are no longer extended on a single line, therefore there's no scroll bar at the bottom of the page.
The comment box looks as [described](https://user-images.githubusercontent.com/55398/68180132-22596680-ff58-11e9-877e-53a02af6e4a7.png)

Examples:
https://code.addons.allizom.org/en-US/browse/96

[2019-11-06 14:24] ioanarusiczki commented on #1202
@kumar303 Indeed, that's a good idea to get the reviewer's feedback on what has been done so far.

- the feature is now available on AMO stage. I verified with FF70(Win10).
- the reviewers can add and delete reviews on code lines clicking the `+` (`add a comment` is available while hovering next to the code line numbers) on the Browse pages.
- the reviewers can open the `Comment Summary` and see t

[2019-11-06 15:21] kumar303 commented on #997
I'd like to fix this -- can you file a separate bug? Also, is there an example to reproduce this on dev?

No rush! Thanks for digging into it.

[2019-11-06 15:44] kumar303 opened #1207 "Long unbroken lines of code break comment forms"
### Describe the problem and steps to reproduce it:

* Browse a file that has long unbroken lines of code, such as minified JS
* Try to comment on one of the long lines

<details>
<summary>Example</summary>

![image](https://user-images.githubusercontent.com/55398/68313254-e3233680-0079-11ea-854a-746cd051f84b.png)

</details>

### What happened?

The comment box scrolls off the screen making it ha

[2019-11-06 15:44] kumar303 commented on #997
Actually, I found a way to reproduce it and I have a fix. I filed it here: https://github.com/mozilla/addons-code-manager/issues/1207

[2019-11-06 16:26] kumar303 opened #1209 "Always use the correct TypeScript version in VSCode"
VSCode will try to use its own version of TypeScript by default. Let's make sure it always uses the one from `node_modules` to keep all developers in sync.

[2019-11-06 17:12] kumar303 commented on #1198
Yeah, the buttons were only blue in the story book but I think this is just because of a coincidence of DOM layout. In other words, it might have broken in the future without my change.

[2019-11-06 17:51] #1207 closed

[2019-11-07 02:10] #1209 closed

[2019-11-07 11:45] ioanarusiczki commented on #1198
@kumar303 Ok, it's grey for me in all places.

[2019-11-07 11:47] ioanarusiczki commented on #997
@kumar303 Thanks! I'll mark this verified on dev with FF70(Win10).

[2019-11-07 16:43] muffinresearch opened #1214 "Remove Snyk"
We've discussed the use of Snyk as a team and have decided to remove it.

This issue is to cover removing snyk dependencies and scripts.

[2019-11-07 18:33] #1214 closed

[2019-11-07 22:19] kumar303 opened #1218 "Clean up version object after removing non-version props"
**For QA**: please check for regressions in the file tree (expanding / collapsing / selecting files).

In an attempt to fix https://github.com/mozilla/addons-code-manager/issues/1094 we copied `version` properties such as `expandedPaths`, `selectedPath` and `visibleSelectedPath` into state, independent from `version` objects. Once all code has been updated to use the new state, let's remove those

[2019-11-08 11:11] erosman opened #1219 "Commenting Cancel/Close button"
After clicking and opening the comments box, The only option is to **Save**. There is no **Cancel** or **Close**.

[2019-11-08 16:03] kumar303 commented on #1219
Thanks for filing an issue! This was already being tracked in https://github.com/mozilla/addons-code-manager/issues/1101 and a patch for it is currently under review.

[2019-11-08 16:03] #1219 closed

[2019-11-08 16:04] kumar303 commented on #1219
In the meantime, you can refresh the page to close a comment box.

[2019-11-08 20:30] kumar303 commented on #877
Heh, the messages no longer appear for me after these steps.

It may be a ref / instance issue similar to https://github.com/mozilla/addons-code-manager/issues/905

[2019-11-08 21:38] #1101 closed

[2019-11-08 21:47] kumar303 opened #1221 "Create a generic action->confirmation component"
**For QA**: please check for regressions in discarding or deleting comments.

In https://github.com/mozilla/addons-code-manager/pull/1213 we added a minor duplication of logic for rendering a two step delete / cancel set of buttons.

<details>
<summary>Delete / cancel example</summary>

﻿﻿https://github.com/mozilla/addons-code-manager/blob/01249f2a68ad02b9c5b7fb8bf5678c83c2d301ce/src/components/Co

[2019-11-10 23:04] mirefly commented on #989
I guess it should be allowed to comment on deleted line, but it looks that [comment API](https://addons-server.readthedocs.io/en/latest/topics/api/reviewers.html#drafting-comments) does not support comments on deleted part. Do we need API changes before implementing comments in diff mode?

[2019-11-10 23:05] mirefly commented on #715
@kumar303 Could I work on this?

[2019-11-11 15:55] #1108 closed

[2019-11-11 15:59] kumar303 opened #1227 "Add comments story for discard / confirm UI states"
Add a [story](https://github.com/mozilla/addons-code-manager#storybook) for the discard / confirm UI states related to cancelling a comment (https://github.com/mozilla/addons-code-manager/issues/1101).

[2019-11-11 16:01] kumar303 commented on #1227
@mirefly could you work on this as a follow up to https://github.com/mozilla/addons-code-manager/pull/1213 ? We usually include stories as part of any UI patch but I forgot to ask for it when reviewing. Be sure to update master as some changes to the comments story just landed.

[2019-11-11 16:11] mirefly commented on #1227
Sure. I will work on this.

[2019-11-11 17:56] kumar303 commented on #1159
We'll address this in https://github.com/mozilla/addons-code-manager/issues/758 and we can refer back to this for the use case.

[2019-11-11 17:56] #1159 closed

[2019-11-11 20:31] kumar303 opened #1229 "Show a banner when the API is in read-only mode"
### Describe the problem and steps to reproduce it:

* Log out, clear cookies
* Ask an admin to set the AMO API to read-only mode (as if a DB migration is getting run, for example)
* Log in to Code Manager

### What happened?

After you successfully log in through Firefox Accounts, Code Manager loads but it looks just like before you logged in (it says *log in to continue*).

### What did you expe

[2019-11-11 20:36] #1227 closed

[2019-11-11 20:56] kumar303 opened #1230 "Disable trimming of large (slow) diffs"
### Describe the problem and steps to reproduce it:

* Load a large diff (see https://github.com/mozilla/addons-code-manager/issues/971) in compare mode

### What happened?

The diff should not be truncated

### What did you expect to happen?

The diff is currently truncated as an attempt to speed up the page

### Anything else we should know?

We'd like to show the entire diff as a workaround to

[2019-11-11 20:59] kumar303 commented on #896
To fix this issue, we can maybe just disable the code overview for binary files.

[2019-11-11 21:00] kumar303 commented on #1094
There is an important use case for this:
- Review an offending line of code in a file
- Wonder where the offending line of code was introduced
- Use the version selector to quickly go back through earlier versions to look for the same line

[2019-11-11 21:02] kumar303 commented on #993
A reviewer might, for example, leave a comment like "when building the original source code given your instructions, I could not reproduce the same add-on source"

[2019-11-11 21:07] kumar303 opened #1231 "Show a summary of all diff comments"
### Describe the problem and steps to reproduce it:

* Add multiple comments on file diffs in compare mode (this depends on https://github.com/mozilla/addons-code-manager/issues/989)
* Click *Comment Summary* to view the text output of all comments.

### What happened?

I'm not sure. Does it work?

### What did you expect to happen?

The diff comments should be correctly attributed to the exact fi

[2019-11-11 21:09] kumar303 commented on #1148
We discussed making this a good first bug but I'm not so sure. It could be tricky to get the right contrast as it could require some redesign. But, I dunno, maybe just a better focus style would be enough?

[2019-11-12 09:57] kewisch commented on #1003
Sorry I missed this, my inbox has too many github notifications. I mean the first one visually in the list, so if you expand all directories then look from top to bottom, the first file that has changes from the top.

[2019-11-12 10:00] kewisch opened #1232 "Make 'n' and 'p' keyboard shortcuts work in browse mode"
In browse mode (vs compare mode), the `n` and `p` shortcuts are disabled, because obviously there is no next "change" to jump to.

It would be great if in this case there would be a fallback to jump to the next file, basically mapping `n` to `j` and `p` to `k`.

[2019-11-12 10:08] kewisch opened #1233 "Ability to resize sidebar panels"
It would be great if you could drag to resize the sidebar panels. In https://code.addons.mozilla.org/en-US/browse/3006/versions/4481232/ for example I have a pretty wide file bar where it is not needed.

[2019-11-12 14:27] ioanarusiczki commented on #1108
@kumar303 This is no longer reproducible on dev with FF70(Win10).

![fixed](https://user-images.githubusercontent.com/33448286/68679867-57257900-0569-11ea-8aaf-358921c37c4b.png)

[2019-11-12 17:53] kumar303 commented on #1003
Is this because `n` (which loads the next change) will begin in the manifest file and that's not what you want? I'm just wondering if we can make the `n` feature better in some way.

[2019-11-12 19:39] kumar303 commented on #717
We do have an API to list comments but I think it needs some tweaks to support this issue. See https://github.com/mozilla/addons-server/issues/12855

[2019-11-12 19:42] bobsilverberg commented on #1230
@kumar303 I have some questions:

- Have we considered doing something similar to what was suggested at https://github.com/mozilla/addons-code-manager/issues/967#issue-471794593, i.e., showing the user a message telling them they need to load the whole file in order to navigate between diffs? Or would we consider that to be terrible UX for this use case?
- Is our intention to permanently remove th

[2019-11-12 20:09] bobsilverberg commented on #1230
@wagnerand Kumar and I were discussing this via IRC, and I was wondering whether we want to consider disabling trimming of files by default in Browser mode as well. I recall that that was causing some issues with linter message navigation, but perhaps that issue is not as major as this one?

As the code for this is somewhat centralized, if we do think we want to disable it in both places it would

[2019-11-12 20:24] kumar303 opened #1234 "Experiment with virtualized code / diffs for faster rendering"
The problem with slow rendering (https://github.com/mozilla/addons-code-manager/issues/1086, https://github.com/mozilla/addons-code-manager/issues/402) is mostly due to placing a large amount of divs on the screen. We could solve this with [windowing](https://reactjs.org/docs/optimizing-performance.html#virtualize-long-lists) which means to only place divs on the screen when we know they will be i

[2019-11-12 23:03] kumar303 opened #1235 "Make the VersionChooser independent from URL data"
**For QA**: please check for regressions in the version chooser / dropdown on the compare page.

In order to move the version chooser to the navbar so that it can be available on all pages (see https://github.com/mozilla/addons-code-manager/issues/758), we need it to not depend on the URL for its data.

[2019-11-13 08:01] ioanarusiczki commented on #1101
@kumar303 I verified this on dev with FF70(Win10) and the `Discard` button is available and works as expected.
It is available only when writing a new comment (editing is not available yet).

![Discard](https://user-images.githubusercontent.com/33448286/68744150-9cdf5180-05fc-11ea-9178-907e6849dc4e.gif)

[2019-11-13 08:10] ioanarusiczki commented on #1148
@kumar303 As long as focus style would work then why not.

[2019-11-13 08:26] ioanarusiczki commented on #1207
@kumar303 I could not reproduce this issue on dev with FF70(Win10).

![js fix](https://user-images.githubusercontent.com/33448286/68745788-f9903b80-05ff-11ea-9d8f-4d925d39781f.gif)

[2019-11-13 15:36] kumar303 commented on #1148
There is maybe an issue with the hover style which is mentioned in this issue. Addressing the focus style is a good start, though.

[2019-11-13 16:33] kumar303 commented on #928
This is supported in `create-react-app` out of the box now. This article explains how to do it with a `workerize!` import: https://kentcdodds.com/blog/speed-up-your-app-with-web-workers

[2019-11-13 17:20] kumar303 commented on #1230
@wagnerand in our meeting you mentioned that loading a slow page by default would negate the benefits of later toggling the button to truncate slow pages since the page would have been loaded into memory. I forgot to mention that this is not the case because loading the page into memory doesn't make the slowness go away.

Thus, I think it would make sense to keep the toggle button around, at least

[2019-11-13 18:23] kumar303 commented on #1106
The cause of this is `Error: Either cannedResponseId or comment must be specified` which results in an unhandled promise rejection, coming from this:

https://github.com/mozilla/addons-code-manager/blob/980d88413d4457f0b545d2dd413d9195934da6b4/src/api/index.tsx#L411

The error is thrown from the [`manageComment`](https://github.com/mozilla/addons-code-manager/blob/980d88413d4457f0b545d2dd413d91959

[2019-11-13 18:30] kumar303 opened #1239 "Display a 500 error page for errors thrown in thunks"
### Describe the problem and steps to reproduce it:

Perform a UI action that throws an error from an async thunk function.

Example: https://github.com/mozilla/addons-code-manager/issues/1106#issuecomment-553535927

### What happened?

In production, the UI doesn't change. There is an error logged to the console but nothing in the UI indicates that there was an error.

In development, you'll see

[2019-11-13 18:32] kumar303 commented on #1106
I filed https://github.com/mozilla/addons-code-manager/issues/1239 to make this unexpected error more visible.

[2019-11-13 18:34] kumar303 commented on #715
@mirefly yes, for sure! Thanks

[2019-11-13 21:25] #685 closed

[2019-11-14 03:53] #1106 closed

[2019-11-14 11:05] wagnerand commented on #1230
I was leaning towards keeping it enabled by default in browse mode because reviewers have a different workflow. In diff mode, reviewers focus on diffs and often use keyboard shortcuts to jump from one diff to the next to avoid scrolling. In browse mode, the focus is often more on a sequential read from top to bottom. There, reviewers would see the notice and expand if necessary. Also, in browse mo

[2019-11-14 17:03] bobsilverberg commented on #1230
Ok, thanks. For now we will just change the default for Compare mode.

I believe what @kumar303 meant is that even after the file is fully loaded, the UI can remain slow for a large file. So trimming an already loaded file can help with the performance of the UI.

[2019-11-14 17:10] wagnerand commented on #1230
Ah ok. We can leave the button around in case someone wants to enable trimming for diffs.

[2019-11-14 17:17] bobsilverberg commented on #989
I have come across the same concern. It looks like the API only supports comments on the "new" file. I have pinged @EnTeQuAk on IRC to discuss this.

[2019-11-15 11:48] ioanarusiczki commented on #1106
@kumar303 Verified on dev with FF70(Win10).
- an empty comment can be saved until the fix of https://github.com/mozilla/addons-server/issues/12865

![empty comment](https://user-images.githubusercontent.com/33448286/68941431-8973e800-07ae-11ea-9c01-11a6c39be16b.gif)

[2019-11-15 20:33] ragnarokatz commented on #1193
@kumar303 hello, I would like to work on this issue please.

[2019-11-16 05:13] ragnarokatz opened #1246 "unable to setup dev environment on ubuntu 18.04"
### Describe the problem and steps to reproduce it:
1. install yarn
2. install nodejs
3. type `yarn` to install
4. type `yarn dev`
5. machine returns `error: stmux is not found`
6. run `yarn add stmux`
7. run `yarn dev`

### What happened?
server is not running on http://localhost:3000, with errors:

![before](https://user-images.githubusercontent.com/33646954/68988439-6c1e3880-0805-11ea-8fa1-c291

[2019-11-16 16:53] mirefly commented on #1246
There is no need to install create-react-app. Running `yarn` should install all dependencies.
Mixing `npm` and `yarn` may cause problems for resolving lock file. Try `yarn --force`?

[2019-11-16 18:05] ragnarokatz commented on #1246
@mirefly thanks for your and response.
I've pulled a fresh repo from github, and ran only the commands you have suggested, which are `yarn --force` follwed by `yarn dev`. I do see some improvements. Now the results are:
![improvements](https://user-images.githubusercontent.com/33646954/68997199-b1784f80-0871-11ea-9733-92db580231ee.png)

[2019-11-16 20:14] mirefly commented on #1246
Could you run `yarn serve-dev` and paste the error message? You can use `Ctrl-a  k` to exit `stmux` before `yarn serve-dev`.

[2019-11-16 20:17] mirefly commented on #1246
And the node version `node -v`?

[2019-11-16 21:56] ragnarokatz commented on #1246
@mirefly `node -v` returns `v10.17.0`
The error is the following:
[code]
This error sometimes occurs in `yarn react-scripts-start` and `yarn test` as well, but always occurs when running `yarn serve-dev`.

I'm running the commands separately now, and they all seem to work individually. However, if I open up 2 terminals, with one running `yarn react-scripts-start` and one running `yarn serve-dev`,

[2019-11-16 22:00] ragnarokatz commented on #1246
@mirefly resolved by increasing the number of file watch limit, I've increased it substantially.
`echo fs.inotify.max_user_watches=524288 | sudo tee -a /etc/sysctl.conf && sudo sysctl -p`
source: https://github.com/gatsbyjs/gatsby/issues/11406

Thank you for your help.

[2019-11-16 22:00] #1246 closed

[2019-11-16 23:02] ragnarokatz commented on #1193
@kumar303 a question for clarification, due to the aforementioned behaviour of `jest.fn()`, do you want the entire lines of
[code]
to be replaced with something else?

[2019-11-17 14:39] #686 closed

[2019-11-18 09:42] wagnerand opened #1247 "Selecting a file in the navigation scrolls to line of previous file"
### Describe the problem and steps to reproduce it:

I noticed that selecting a file in the navigation scrolls to the same line of the previous file.

1. Open a file
2. Scroll down
3. Click on a different file in the navigation

### What happened?

The window is scrolling to the same line as before.

### What did you expect to happen?

Stay at the top of the file.

### Anything else we should know

[2019-11-18 16:19] kumar303 commented on #1193
@ragnarokatz hello, thanks for working on this issue. Yes, it would look like this:

[code]

[2019-11-18 17:25] #711 closed

[2019-11-18 17:46] kumar303 opened #1248 "Change FileTree to use expandedPaths not tied to a version"
As a step towards https://github.com/mozilla/addons-code-manager/issues/1094, `FileTree` should use a standalone `expandedPaths` state prop, not tied to `version`.

**For QA**: Please check for any regressions in expanding and collapsing file paths.

[2019-11-18 17:50] #1248 closed

[2019-11-18 22:33] #984 closed

[2019-11-18 22:46] kumar303 opened #1249 "Extract overlay / popover from comment summary"
I'd like to extract and re-use the comment summary overlay for putting compare-version controls in the nav bar (https://github.com/mozilla/addons-code-manager/issues/758).

**For QA**: Please check for regressions in the comment summary button and overlay

[2019-11-19 04:49] kumar303 commented on #989
We can get this feature started by doing what the API supports: only commenting on newer lines.

[2019-11-19 05:02] kumar303 commented on #1247
Hmm. I think maybe it always behaved like this but pre-loading makes it happen all the time now. To confirm, this only applies to navigating to a pre-loaded file, like the next in list, right?

[2019-11-19 10:10] wagnerand commented on #1247
Yes, I can confirm that.

[2019-11-19 10:11] wagnerand opened #1252 "Syntax highlighting fails for specific file"
### Describe the problem and steps to reproduce it:

Syntax highlighting fails for https://code.addons.mozilla.org/en-US/browse/506646/versions/4904550/?path=lib%2Fbasedomain.js

### What happened?

### What did you expect to happen?

### Anything else we should know?

[2019-11-19 14:07] AlexandraMoga commented on #1248
I've verified both the browse and the compare view and couldn't find any regressions with folder expansion/collapsing.

The folders are also expanding when using keyboard navigation to browse files.

[2019-11-19 16:23] #1249 closed

[2019-11-19 16:26] #1235 closed

[2019-11-19 17:42] #1230 closed

[2019-11-19 18:05] bobsilverberg commented on #900
FYI, I wasn't able to reproduce this problem using the STR above, nor that in https://github.com/mozilla/addons-code-manager/issues/899. When accessing the site via `yarn start-local-prod` I do not see the home page with the links to generate an error, but instead am told to log in. But logging in doesn't work with `yarn start-local-prod`. I tried hacking some other settings to "Turn off developme

[2019-11-19 18:36] #1247 closed

[2019-11-20 03:06] ragnarokatz commented on #1193
@kumar303 PR is ready for review. Quite a few changes here and there. Please take a look when you have time.

[2019-11-20 16:20] kumar303 opened #1256 "Expand capabilities of PopoverButton"
The version comparison screen needed for https://github.com/mozilla/addons-code-manager/issues/758 will benefit from a popover since it will be accessible via NavBar.

The goal of this issue is:

* Expand the capabilities of `PopoverButton` so that it can be used for showing a version comparison popover
* Move sharable logic from `CommentSummaryButton` into `PopoverButton`

**For QA**: Please chec

[2019-11-20 17:26] #900 closed

[2019-11-20 21:29] kumar303 commented on #1193
@ragnarokatz thanks again!

This was fixed in https://github.com/mozilla/addons-code-manager/pull/1255

[2019-11-20 21:29] #1193 closed

[2019-11-20 22:33] mirefly opened #1258 "Use selectedPath and visibleSelectedPath not tied to a version"
According to https://github.com/mozilla/addons-code-manager/pull/1204#pullrequestreview-318507190 , I filed this issue to track the refactoring of `selectedPath` and `visibleSelectedPath`. Since too many components depend on `selectedPath`, I probably have to do it in two patches.
- The first one is to copy `selectedPath` and `visibleSelectedPath` out of `version` object, and use these new state p

[2019-11-21 10:28] AlexandraMoga commented on #1230
Verified fixed on -dev.
The compare view is now displaying the whole content by default, which makes navigation between diff changes possible (though very slow).

![image](https://user-images.githubusercontent.com/31961530/69329583-0b09c100-0c5a-11ea-8b7e-f63f9b3df51f.png)

The browse view continues to show trimmed content.

[2019-11-21 10:32] ioanarusiczki commented on #984
@kumar303 The add-on review page from rev tools is opened in a new tab.

![new tabs](https://user-images.githubusercontent.com/33448286/69330029-de09de00-0c5a-11ea-9e51-98297ec6ede1.gif)

verified on dev with FF70(Win10).

[2019-11-21 11:22] ioanarusiczki commented on #1249
@kumar303 Checking withhttps://code.addons-dev.allizom.org/en-US/browse/502724/versions/1541510/?allowSlowPages=true&messageUid=c94a6ffe04da45bfac4a17ebf1dc3557&path=content_scripts%2Fcheck-inventory.js I did not see anything unusual.
Verified on dev with FF70(Win10).

[2019-11-21 11:26] AlexandraMoga commented on #1247
Verified fixed on -dev both for the browse and compare view.

When another file is selected from the file tree (also applies to keyboard navigation), the top of the file is being displayed:

![2019-11-21_13-20-16](https://user-images.githubusercontent.com/31961530/69333920-50ca8780-0c62-11ea-9641-7a4b8b22d9bc.gif)

[2019-11-21 12:13] ioanarusiczki commented on #1235
@kumar303 Checking on dev I found some issues but I should further investigate this. I could not reproduce the issue on stage with another add-on.
Dev - first example https://code.addons-dev.allizom.org/en-US/compare/616909/versions/1688345...1688399/ After I've chosen Old version `7` and New version `10.2.3` if I click another file from the file tree viewer I received an error.

![compare616909](

[2019-11-21 20:56] kumar303 commented on #1235
Interesting. I was able to verify locally that these bugs existed *before* the patch for https://github.com/mozilla/addons-code-manager/issues/1235 landed. I guess we just never noticed them.

This one seems related to how the `Img` folder was deleted in version `7`. I'm not sure what the cause is but the file tree may need to take `comparedToVersionId` into consideration.

Please file a new issue

[2019-11-21 23:25] #1256 closed

[2019-11-22 13:58] ioanarusiczki opened #1261 "An error occurs for add-ons after changing the new/old versions on compare pages"
Followup for https://github.com/mozilla/addons-code-manager/issues/1235#issuecomment-557268382

STR:
- Load https://code.addons-dev.allizom.org/en-US/compare/616909/versions/1688312...1688399/
- Select an Old version of `7` and New version of `10.2.3`
- Click on any other file, such as `mozilla-recommendation.json`

![compare616909](https://user-images.githubusercontent.com/33448286/69337012-86726

[2019-11-22 15:19] kumar303 opened #1262 "Remove unnecessary dependency injection for shared data loaders"
Several tests assert that a common data loader is called on both mount and update. To accomplish this, the components under test can accept method replacements to support dependency injection.

We should remove the method replacement props and instead use this technique in `jest`:

<details>
<summary>Example test suite</summary>

[code]
</details>

Here are a few examples of what can be fixed but

[2019-11-22 18:18] kumar303 opened #1263 "Show version comparison range in header"
### Describe the problem and steps to reproduce it:

* Log in
* Load any version comparison page

### What happened?

The navbar header displays the add-on name

### What did you expect to happen?

It should also display the version comparison range

### Anything else we should know?

The version select boxes *currently* show an indication of the version comparison range but those are going away a

[2019-11-22 21:54] kumar303 opened #1266 "Do not fetch a version if a fetch is in progress"
When the compare menu moves into the navbar (https://github.com/mozilla/addons-code-manager/issues/757) it will be possible for the first time to navigate from the browse page to a compare page without reloading the window.

This will reveal a long standing bug where `fetchVersion()` does not check for a fetch in progress before beginning a new fetch.

Let's fix that.

**For QA**: please check for

[2019-11-22 23:16] kumar303 commented on #1261
Here's the error in the first example:

[code]
...which is thrown [here](https://github.com/mozilla/addons-code-manager/blob/a020855373d98bd2dbce6bb94cbc97535c121f18/src/reducers/fileTree.tsx#L235-L237).

It could be that the file tree needs to be rebuilt when switching versions but I'm not sure.

[2019-11-25 10:16] willdurand opened #1269 "Switch to new typesafe-actions API"
See: https://github.com/piotrwitek/typesafe-actions/issues/143

---

In https://github.com/mozilla/addons-code-manager/pull/1195, we adopted the `deprecated` API to be able to upgrade to `typesafe-actions@5.x`. We should update our code to switch to the new API instead of relying on the deprecated one.

[2019-11-25 10:17] ioanarusiczki commented on #900
@bobsilverberg I changed the milestone because there's no push this week.

[2019-11-25 11:46] ioanarusiczki commented on #1256
@kumar303 Moving it to the next milestone because there will be no push this week.

[2019-11-25 14:08] ioanarusiczki commented on #1256
@kumar303 No issues found.
Verified on dev with FF70(Win10).

[2019-11-25 15:44] kumar303 commented on #989
I bumped the milestone since we're not pushing this week.

[2019-11-25 16:17] #1266 closed

[2019-11-25 19:36] mirefly commented on #1261
Ohhh... We thought only entry status depends on `comparedToVersionId` (so we add `entryStatusMap` in #1025), but it is not true. The deleted path in `version.entries` also depends on `comparedToVersionId`.

[2019-11-25 19:57] #1263 closed

[2019-11-25 22:50] kumar303 opened #1272 "Adjust CommentSummaryButton config"
The UI for https://github.com/mozilla/addons-code-manager/issues/757 will be sharing the new `PopoverButton` component. A few changes to `CommentSummaryButton` are needed for this.

**For QA**: please check for regressions in the *Comment Summary* button and its popover.

[2019-11-26 17:45] #1272 closed

[2019-11-26 22:46] kumar303 opened #1276 "Support a custom form control class in VersionSelect"
For the UI in https://github.com/mozilla/addons-code-manager/issues/757, I need to customize the form control class within `VesionSelect`

[2019-11-26 22:55] kumar303 opened #1278 "Browse a version from the compare popover"
### Describe the problem and steps to reproduce it:

* Log in
* Load any version comparison page

### What happened?

There is no way to switch to browse mode for either of the versions.

### What did you expect to happen?

It should be easy to browse either one of the versions that are being compared.

### Anything else we should know?

[2019-11-26 23:20] kumar303 commented on #1261
Heh, yeah. I think the file tree reducer needs to consider `comparedToVersionId` but I'm not totally sure. I only took a quick look at it.

[2019-11-27 15:51] kumar303 opened #1280 "Slow loading indicator isn't accurate when browsing code"
### Describe the problem and steps to reproduce it:

* Browse a file with 508 lines of code, such as https://code.addons.mozilla.org/en-US/browse/1479936/versions/3176697/?allowSlowPages=true&path=js%2Fbackground.js

### What happened?

The page warns about the file loading slowly

### What did you expect to happen?

The page should not warn about the file loading slowly because it loads quickly

[2019-11-27 16:45] #1280 closed

[2019-11-27 16:46] bobsilverberg opened #1282 "Allow for hovering over the code to add a comment on a diff"
This is a follow-up to #989. The STR below will be possible after #989 lands.

### Describe the problem and steps to reproduce it:

- Go to compare view for a file and try to add a comment to an unchanged or inserted line.

### What happened?

A button to add a comment only appears when hovering over the line number (in the gutter).

### What did you expect to happen?

A button to add a comment sh

[2019-11-27 17:04] kumar303 commented on #758
At first I was sure that this will be a dupe of https://github.com/mozilla/addons-code-manager/issues/757 but I can now say for sure that it will be.

[2019-11-27 17:04] #758 closed

[2019-11-27 17:06] #1276 closed

[2019-11-27 17:53] kumar303 opened #1283 "Popover stories do not load correctly the first time"
### Describe the problem and steps to reproduce it:

Visit any popover story for the first time, such as https://mozilla.github.io/addons-code-manager/?path=/story/commentsummarybutton--one-line-comment

### What happened?

It's not 100% reproducible but sometimes the popover is misaligned.

<details>
<summary>Example</summary>

<img width="621" alt="Screenshot 2019-11-27 11 49 09" src="https://us

[2019-11-27 18:12] kumar303 opened #1284 "Long unbroken line of minified code stretches panel too wide"
### Describe the problem and steps to reproduce it:

Browse this minified diff: https://code.addons-dev.allizom.org/en-US/browse/502868/versions/1688187/?path=src/js/Grammarly-signin.js

### What happened?

The code stretches the panel too wide, which adds horizontal scrollbars. This will obscure linter messages and will break the commenting form (see https://github.com/mozilla/addons-code-manager

[2019-11-27 18:34] kumar303 commented on #1282
To make it work as [in `CodeView`](https://github.com/mozilla/addons-code-manager/blob/83eb299a13464e5f25a1bbd47a4fae917eac3f6b/src/components/CodeView/index.tsx#L158), we would want to render the `<tr>` like `<Commentable as="tr"... >` which puts a custom CSS class on the `tr` tag. The discussion in the issue seems to be around modifying elements *within* the `<tr>` which is not the same. I can't

[2019-11-27 18:35] kumar303 commented on #1282
Maybe asking for a feature request of adding custom `tr` class names would be enough to solve it.

[2019-11-27 20:50] bobsilverberg commented on #1282
I was planning on experimenting with this. I don't think what he's suggested will break the layout. I imagine it will wrap the *contents* of the `td`, not the `td` itself. I agree that being able to make the whole `tr` commentable would be ideal, and if simply being able to add a className to the `tr` would do that then that's worth asking about.

[2019-11-27 22:12] mirefly commented on #1261
I agree. The problem is the file tree reducer uses `version` object to build file tree, but we have no way to know `comparedToVersionId` of `version`. One approach in my mind is to move `entries` out of `version` object., and create `state.versionEntries.[versionId=?;comparedToVersionId=?]`. I tried this a bit but it looks like a quiet big change. Or just copy out entries as the first step, so tha

[2019-11-27 22:29] kumar303 commented on #1261
Is there a way to make `comparedToVersionId` accessible?

Yeah, that sounds like a big change. Could the file tree state just get something like `comparedToVersionId: number | undefined` (similar to [`forVersionId`](https://github.com/mozilla/addons-code-manager/blob/83eb299a13464e5f25a1bbd47a4fae917eac3f6b/src/reducers/fileTree.tsx#L469)) so that [`getTree()`](https://github.com/mozilla/addons-co

[2019-11-27 22:46] mirefly opened #1285 "Rename beginNewComment to showForm in commentInfo"
According to https://github.com/mozilla/addons-code-manager/pull/1241#discussion_r348147622, this prop is also used for editing after landing #1241, so `beginNewComment` is misleading.

[2019-11-27 22:52] mirefly opened #1286 "Remove prop readOnly in Comment component"
`readyOnly` prop in `Comment` needs to be removed, so that the mode of comment only relies on state. https://github.com/mozilla/addons-code-manager/pull/1241#discussion_r348145105

**For QA**: Please check for regressions in the commenting features.

[2019-11-27 23:10] #1094 closed

[2019-11-27 23:14] mirefly commented on #1261
I think this should is possible, but the problem is how to know which `version` we should pass to `buildTree({version})`, since `version` is in `state.versionInfo.[versionId]` (or set the loaded version to undefined, and fetch data again?).

[2019-11-28 03:11] mirefly opened #1287 "Comment text is not initialized properly after editing/discarding the comment"
After landing #1241
### Describe the problem and steps to reproduce it:

1. Click "Edit" button for a comment.
2. Modify the text
3. Click "Discard", then "Confirm".
4. Click "Edit" again.

### What happened?
The comment text (in text area) is the discarded comment.

### What did you expect to happen?
 It is expected to be the original comment.

### Anything else we should know?
The following fix

[2019-11-28 07:34] otakustay commented on #1282
If you'd like to only add a custom class name to `<tr>` element, the `lineClassName` prop will help: https://github.com/otakustay/react-diff-view#class-names

If you'd like to add event handlers to the entire `<tr>` element, this is not supported currently but I can add a `lineEvents` prop like currently supported `gutterEvents` prop: https://github.com/otakustay/react-diff-view#customize-events

[2019-11-28 14:19] bobsilverberg commented on #1282
Thanks @otakustay. I just tried this and it doesn't seem to work. I added the `lineClassName` prop to my call to `<Diff>`, but I do not see that className added to the `tr` that is generated. Do you have a working example of this?

[2019-11-28 14:25] otakustay commented on #1282
`lineClassName` is on `Hunk` component: https://codesandbox.io/s/react-diff-view70-0hyqb

[code]

Still I was wondering how can this custom class help to implement "click to comment", I don't quite recommend doing this like `querySelector('custom-class').addEventListener('click', ...)` 😄

[2019-11-28 14:47] #989 closed

[2019-11-28 15:54] AlexandraMoga commented on #900
@bobsilverberg can this be validated with the STR from #896 ?

If I'm accessing one of the pages mentioned in the issue I can see an error now rather than just a blank page:

![image](https://user-images.githubusercontent.com/31961530/69819548-db355d00-1207-11ea-83af-94f15a39fff6.png)

[2019-11-28 21:15] bobsilverberg opened #1290 "Rename the `version` property to `versionString`"
This came up in a recent review, and I wanted to file a follow-up for it. We currently have a [`version`](https://github.com/mozilla/addons-code-manager/blob/master/src/reducers/versions.tsx#L204) property in our `Version` type, which can be a bit confusing. To remove the ambiguity, we should rename the property that contains the "name" of the version (e.g., 1.0.2) from `version` to something else

[2019-11-29 13:54] ioanarusiczki commented on #1263
@kumar303
I verified on dev and the version number is available now in the header.

Browse

![Browse](https://user-images.githubusercontent.com/33448286/69873151-61838a80-126c-11ea-9b2a-0e07d69df2a1.png)

Compare

![Compare](https://user-images.githubusercontent.com/33448286/69873186-76f8b480-126c-11ea-9659-8c2c54edf984.png)

[2019-11-29 14:43] ioanarusiczki commented on #1280
@kumar303
For this file with 1187 lines I can still see the warning at the top of the file "This file has been shortened to load faster. View the original file."

https://code.addons-dev.allizom.org/en-US/browse/502724/versions/1541510/?allowSlowPages=false&messageUid=c94a6ffe04da45bfac4a17ebf1dc3557&path=lib%2Fbrowser-polyfill.js

![load faster](https://user-images.githubusercontent.com/33448286/

[2019-11-29 15:20] ioanarusiczki commented on #1272
@kumar303 I verified this on dev on Browse and Compare views - looks good to me.
Verified with FF70(Win10).

[2019-11-29 15:53] ioanarusiczki commented on #989
@kumar303 I verified on dev and perhaps there's more to investigate but so far these are my testing results:

- for these compare files:
https://code.addons-dev.allizom.org/en-US/compare/495710/versions/1541609...1688333/?path=manifest.json
https://code.addons-dev.allizom.org/en-US/compare/495710/versions/1541610...1688369/?path=manifest.json
the old line has the "+" button available and it shows

[2019-11-29 16:57] mirefly commented on #1261
It is tempting to put `comparedToVersionId` back to `version` object. That should be an easier fix for this issue, but I am not sure if we want it.

[2019-12-01 12:24] #119 closed

[2019-12-02 14:39] ioanarusiczki commented on #1280
@kumar303 I managed to upload using admin override an add-on with 683 lines of code
https://code.addons-dev.allizom.org/en-US/browse/618459/versions/1689846/?path=vulcanized-polymer.js#I683
I don't see the message in Browse or Compare View.
So I'm marking this verified on dev with FF70(Win10).

[2019-12-02 15:07] bobsilverberg commented on #989
@ioanarusiczki Thanks for the comments. I will investigate these. Follow-up issues may be required.

[2019-12-02 15:22] bobsilverberg commented on #989
The first issue raised by @ioanarusiczki above, relates to the fact that we are showing a line in the diff for changes marked with types of `insert-eofnl` and `delete-eofnl`. The code introduced to allow commenting on lines of a diff only excludes changes with a type of `delete`. I could expand that list to make sure we do not allow commenting on `insert-eofnl` and `delete-eofnl`, but I actually t

[2019-12-02 15:28] bobsilverberg commented on #989
The second issue raised by @ioanarusiczki is:

This is a result of the fact that comments are stored for a particular version, regardless of whether they relate to a diff or not. We have a separate discussion about this at https://github.com/mozilla/addons-server/issues/12875.

Because, for now at least, comments are not created in the context of a diff (i.e., a comparison between two versions), b

[2019-12-02 15:35] kumar303 commented on #989
- re: `insert-eofnl` and `delete-eofnl`, let's make sure we have a separate issue to track this. Maybe we just need to disallow comments on `delete-eofnl` similar to how we do it for `delete` changes? Or maybe disallow commenting on both? At the very least, we need to update [ChangeType](https://github.com/mozilla/addons-code-manager/blob/2e1316294c5a855e7e8fdbe4f783504f3f58b84f/src/%40types/react

[2019-12-02 15:54] bobsilverberg opened #1291 "Deal with `insert-eofnl` and `delete-eofnl` change types"
This is a follow-up from https://github.com/mozilla/addons-code-manager/issues/989#issuecomment-560448350.

Information that we receive about a diff from the API can include changes with change types of `insert-eofnl` and `delete-eofnl`. We should ensure we are dealing with those appropriately.

At a minimum, we need to update [ChangeType](https://github.com/mozilla/addons-code-manager/blob/2e1316

[2019-12-02 15:55] bobsilverberg commented on #989
Thanks @kumar303. I opened https://github.com/mozilla/addons-code-manager/issues/1291.

My concern about this is that we will lose context. A comment added to line 1 when comparing version 2 to version 3 might not make sense when comparing version 1 to version 3.

[2019-12-02 15:59] kumar303 commented on #1261
A quick look suggests that we could add a `comparedToVersionId` param to `fileTree.getTree()` and `fileTree.actions.buildTree()`, which should allow us to use it as a key.

`FileTree` is the only component currently calling those two functions. It maps `tree` to [`getTree()`](https://github.com/mozilla/addons-code-manager/blob/f1ad515225dee0f9783dbdb0d66cf4fa0f9dbdf8/src/components/FileTree/index.

[2019-12-02 16:07] ioanarusiczki opened #1292 "The top of the page is shown instead of the comment made on .js files"
STR:
1. Go to https://code.addons-dev.allizom.org/en-US/compare/495710/versions/1541610...1688369/?path=src%2Fbackground%2Fbackground.bundle.js#N1
2. Make a comment for line 2
3. Save it and observe the screen
4. Confirm delete or cancel delete for the comment made

Expected result:
Line 2 and the comment are visible.

Actual result:
The top of the page is shown.

Notes:
I've noticed that this iss

[2019-12-02 16:12] kumar303 commented on #1291
Please add steps for how QA can check for regressions after a patch for this issue lands.

As discussed on IRC, I don't think we should hide these changes from the diff view.

[2019-12-02 17:46] kumar303 commented on #989
Why not? If you are comparing version 1 to version 3 your intent is still to comprehend the impact of version 3.

In any case, this is something we can get feedback from reviewers on once the feature lands. They will be able to use it and tell us what makes sense for their work flows.

[2019-12-02 20:44] #757 closed

[2019-12-02 22:37] kumar303 commented on #1283
Ah, bummer, I had a theory that I could fix this by [dispatching the opener action](https://github.com/mozilla/addons-code-manager/blob/74a762ff9bf8760381593a5682304cc1f7c5510d/stories/CommentSummaryButton.stories.tsx#L19) only after mount but it didn't work.

[2019-12-03 10:44] EnTeQuAk opened #1297 "Ensure `sha256` can be `null`"
This issue is a follow-up from our discussion in https://github.com/mozilla/addons-server/issues/12920#issuecomment-559821333

This is to track the work needed (and ideally do it) to make sure `sha256` can be `null` in the file-tree.

That essentially means the following from an API point of view (which is WIP):

* `file.entries[].sha256` in [Browse](https://addons-server.readthedocs.io/en/latest/

[2019-12-03 11:12] EnTeQuAk commented on #1291
Personal opinion: I think it makes sense to show them but certainly disallow commenting as they don't really add anything valuable to the diff for the reviewer. It may be relevant for the reviewer when files are weirdly shown locally because of newline related problems though (don't ask me for a specific STR here…)

I don't think it hurts to show them though, should be not too frequent I suppose?

[2019-12-03 12:38] bobsilverberg commented on #1291
Thanks Chris. The consensus is to show them. I am going to prevent commenting on them for now (and possibly forever!).

[2019-12-03 12:42] bobsilverberg commented on #1297
Thanks for filing this @EnTeQuAk. I don't think there's anything currently in the app that will be affected by this, but it would be nice to keep the types in sync, so I'll look into addressing this issue ASAP.

[2019-12-03 12:54] EnTeQuAk commented on #1297
Thanks, I wasn't sure if there are actual changes needed - but at the very least we should make sure it works - and that's what this issue is about.

Thanks!

[2019-12-03 14:51] ioanarusiczki commented on #989
@bobsilverberg @kumar303

Based on https://github.com/mozilla/addons-server/issues/12875#issuecomment-555120040 and also https://github.com/mozilla/addons-code-manager/issues/989#issuecomment-560448350

This is how it works so far for lines that have not been modified from a version to another:

- On line 1 for `manifest.json` file I made a comment on all the 3 versions of an add-on
https://code.a

[2019-12-03 15:05] bobsilverberg commented on #989
Yes, that all sounds as expected.

No, when you add a comment via compare for 5.1.1...5.1.3, the comment only gets attached to 5.1.3, so it will only be available in Browse mode for 5.1.3.

Does that make sense?

[2019-12-03 15:34] ioanarusiczki commented on #989
@bobsilverberg A bit confused.
You asked me to file a followup here https://github.com/mozilla/addons-code-manager/issues/989#issuecomment-560445218

is that still available after the discussions ?

[2019-12-03 15:39] ioanarusiczki commented on #1266
Nothing unusual while testing on dev this week.
Verified with FF70(Win10).

[2019-12-03 15:50] #1278 closed

[2019-12-03 16:28] #1297 closed

[2019-12-03 17:00] bobsilverberg commented on #990
@kumar303 I believe this was fixed via https://github.com/mozilla/addons-code-manager/commit/76fdcaeb0d1ae06c87f996ba28e96ad425f7bb25. Do you agree?

[2019-12-03 17:05] bobsilverberg commented on #1231
This is also partially fixed via https://github.com/mozilla/addons-code-manager/commit/76fdcaeb0d1ae06c87f996ba28e96ad425f7bb25, but I am seeing some extra comments. For example, at https://code.addons-dev.allizom.org/en-US/compare/502955/versions/1541794...1541798/ I am seeing two comments in the summary at the top for lines that don't even appear to exist in `manifest.json`.

I will investigate.

[2019-12-03 18:06] bobsilverberg commented on #1231
This does appear to be also fixed via https://github.com/mozilla/addons-code-manager/commit/76fdcaeb0d1ae06c87f996ba28e96ad425f7bb25. The oddity I mentioned in https://github.com/mozilla/addons-code-manager/issues/1231#issuecomment-561262928 seems to be based on invalid data in the database, not any problems with the Comment Summary in code manager. So I think we can close this. Do you agree @kuma

[2019-12-03 18:19] bobsilverberg opened #1299 "Double check code for line number and commenting on diffs"
This is a follow-up to https://github.com/mozilla/addons-code-manager/issues/989. The code that determines the line number for a change uses [`change.lineNumber`](https://github.com/mozilla/addons-code-manager/blob/76e1e8e28135d30832fd5e312b57da32e356f005/src/components/DiffView/index.tsx#L200), but that is a bit opaque, as changes actually have `old_line_number` and `new_line_number`. This issue

[2019-12-03 19:13] kumar303 commented on #990
Yes, thanks!

[2019-12-03 19:13] #990 closed

[2019-12-03 19:15] kumar303 commented on #1231
Yes, it seems to be working. Awesome. I mainly wanted to track it for validation purposes.

[2019-12-03 19:15] #1231 closed

[2019-12-03 19:20] kumar303 commented on #1290
I suggest adding instructions to QA for regression testing the version string features

[2019-12-03 20:06] bobsilverberg commented on #1299
The data that is returned from the API for a diff includes the following:
- for a `normal` change, `old_line_number` and `new_line_number` are the same.
- for a `delete`, `old_line_number` is the line number of the line that was deleted, and `new_line_number` is `-1`.
- for an `insert`, `old_line_number` is `-1` and `new_line_number` is the line number of the line that was inserted.

Based on that

[2019-12-03 20:06] #1299 closed

[2019-12-03 20:55] bobsilverberg commented on #1132
I can see what's happening here.

When one navigates to a linter message, it adds the `uid` of the message to the URL parameters (in the format of, for example, `messageUid=f568ab352aec47b495ca4304647d401d`). That is now considered the "current" linter message, so when one clicks `z` to move to the next message, it moves to the next message *relative* to *that* message. If one clicks on another li

[2019-12-03 21:50] wagnerand opened #1300 "General performance issues"
As of now, the code manager at least seems slower than the old file viewer.

A random example using an average extension shows the code manager takes more than twice to load the manifest.json file.

https://reviewers.addons.mozilla.org/en-US/firefox/files/browse/3438240/ took 2.47s for me*
https://code.addons.mozilla.org/en-US/browse/548332/versions/4893865/ took 5.33s for me

(that's the same ver

[2019-12-03 22:22] kumar303 opened #1301 "JS bundle from CDN is not gzip encoded (most of the time)"
### Describe the problem and steps to reproduce it:

* Open the Network panel
* Browse any page from prod (maybe in other envs, too?), such as https://code.addons.mozilla.org/en-US/

### What happened?

* The JS bundle is 1.66MB and takes half a second to load. Example URL: `https://addons-code-manager.cdn.mozilla.net/static/js/2.74a45ad5.chunk.js`
* The headers show that the response is not gzip

[2019-12-03 22:23] kumar303 commented on #1301
@bqbn is this something you could look into?

[2019-12-03 22:27] kumar303 commented on #1300
I noticed two issues while looking at this but I'm not sure if fixing them would have a big impact or not.
* https://github.com/mozilla/addons-server/issues/13028 (browse API is slow when cached)
* https://github.com/mozilla/addons-code-manager/issues/1301 (JS bundle is not gzip encoded)

[2019-12-03 22:35] #715 closed

[2019-12-03 23:04] kumar303 commented on #1299
Great, thanks for looking into it. I put it back in next week's milestone just to track it as a "thing you spent time on," which is helpful for visibility.

[2019-12-03 23:10] kumar303 opened #1302 "Add a Finish Review button to the comment summary"
### Describe the problem and steps to reproduce it:

* Add some comments
* Open the comment summary
* Think about what to do next

### What happened?

It's not totally clear how to get to the reviewer tools page to finish the review. You can click the *<- Reviewer Tools* link but that's pretty far removed from the UX.

<img width="1186" alt="Screenshot 2019-12-03 17 06 27" src="https://user-images

[2019-12-04 03:17] kumar303 commented on #1261
Hi @mirefly. This issue has been flagged as higher priority than the others you might have in your queue (I'm thinking of the follow-up issues). Is this something you'd be interested in working on next?

[2019-12-04 04:24] kumar303 commented on #379
I played around with this but it needs work. The idea is to save an imprint of the current file and use that as a skeleton when transitioning to the next file. For the very first file load, it has to generate a random skeleton.

The spacing of the imprint lines doesn't match the code view exactly so it would be nice to fix that.

<details>
<summary>Screencast (with simulated slowness)</summary>

!

[2019-12-04 04:32] kumar303 commented on #932
Maybe we don't have the `history` module [configured right](https://github.com/mozilla/addons-code-manager/blob/cb35fdfbca9619236e2f988178c17826750dce36/src/index.tsx#L15).

[2019-12-04 05:14] bqbn commented on #1301
Hmm, this is odd because I couldn't reproduce it using the provided command, I even tried this,

[code]

I then tried it using https://www.webpagetest.org/, and the result also indicates that that js file is zipped [[1]](https://www.webpagetest.org/result/191204_T2_ff89e7c96a09f5ce50652fdff8a0652e/1/details/#step1_request7).

And configuration wise, the Cloudfront distribution for this site is con

[2019-12-04 08:03] ioanarusiczki commented on #989
As discussed on IRC no other followups are to be filed yet.
Verified on dev - with FF70(Win10).

[2019-12-04 09:20] ioanarusiczki opened #1304 "Keyboard navigation should be available to get into the Compare Versions drop down menu"
Followup for https://github.com/mozilla/addons-code-manager/issues/757

STR:
1. Load https://code.addons-dev.allizom.org/en-US/browse/618459/versions/1689844/
2. Use keyboard navigation (Tab) or the downwards arrow to get to `Compare Versions` button
3. Press `Enter` then try to go using the keyboard to `Old version`
4. Observe which is the next element highlighted

Expected results:
`Old version`

[2019-12-04 09:23] ioanarusiczki commented on #757
@kumar303
- There's a blue `Compare Versions` button available in the navbar for both browse and compare pages.
- when there's only one version of the add-on submitted the button is already available in the Browse page. I don't see it as an issue but I can't tell if it is what you expected too.

![one version](https://user-images.githubusercontent.com/33448286/70127985-c849df00-1684-11ea-968c-1974

[2019-12-04 10:29] ioanarusiczki commented on #1278
@kumar303
- the `Browse button` is available next to `Old version` and `New version` on the compare pages. Once clicked it will open the browse page of the selected versions in the same tab.
- if I want to see those pages into a different tab I could use the middle mouse button which works for the two `Browse` buttons.

![the browse pages ](https://user-images.githubusercontent.com/33448286/701324

[2019-12-04 12:12] ioanarusiczki opened #1305 "The URL won't indicate the path of the file when switching from compare to browse view"
Followup for https://github.com/mozilla/addons-code-manager/issues/1278

STR:
1. On a compare page click a file from the file tree  https://code.addons-dev.allizom.org/en-US/compare/618459/versions/1689844...1689847/?path=js%2Fcommon.js
2. Click the Compare versions button and go into a Browse view
3. Observe the file tree and the URL

Actual result:
The file tree shows the previous file as being

[2019-12-04 12:20] ioanarusiczki commented on #1297
@EnTeQuAk @bobsilverberg
I don't see issues here. SHA256 hash is displayed on all files I've checked on.
verified on dev with FF70(Win10).

[2019-12-04 13:19] ioanarusiczki commented on #1231
@kumar303 I see the comments made in the diff following the path given by the Comment Summary content.
I've also verified this for https://github.com/mozilla/addons-code-manager/issues/989#issuecomment-561201893 in order to understand the presence of a comment on browse and compare pages.
Verified on dev with FF70(Win10).

[2019-12-04 14:29] EnTeQuAk commented on #1300
A major player here is https://github.com/mozilla/addons-server/issues/12920 which will be an issue for both, the browse and the compare views.

For compare views specifically there's an issue mentioned in https://github.com/mozilla/addons-server/issues/11838#issuecomment-561131920 with how we're caching / generating improved metadata for deleted files that needs some improving.

[2019-12-04 15:28] kumar303 commented on #1301
A couple minutes ago I saw your comment, ran the command, and verified that each response was indeed encoded.

However, I just ran it again and now the responses are no longer encoded. I added a counter to be sure:

[code]

[2019-12-04 15:33] mirefly commented on #1261
Yeah. Let me try this today.

[2019-12-04 15:35] kumar303 commented on #1301
Weird. Now it's back to encoded again.

We're tracking code-manager performance improvements in https://github.com/mozilla/addons-code-manager/issues/1300 and it would be nice to figure out why the encoding intermittently fails.

[2019-12-04 18:05] kumar303 commented on #757
Yeah, that's expected. I suppose the UX could communicate that a comparison isn't possible somehow but it's not a big deal.

[2019-12-04 18:07] kumar303 commented on #1278
I can reproduce this and it is a bit surprising. Can you file an issue? Thanks.

[2019-12-04 19:19] bobsilverberg commented on #877
You're right, I can no longer see the message even after navigating away and back. The blocking issue, https://github.com/mozilla/addons-server/issues/11853, has been fixed, so it looks like this can be worked on again. I'll take another look.

[2019-12-04 19:51] bobsilverberg commented on #1299
After doing all that research, I still somehow got it wrong. It turns out that `normal` changes do not always have the same value for `old_line_number` and `new_line_number`. If, for example, a line is added to the top of a file, line 2, which is unchanged and therefore `normal`, will have an `old_line_number` of `1` and a `new_line_number` of `2`. But we are actually using `old_line_number` for `

[2019-12-04 22:35] kumar303 opened #1306 "Version chooser does not preserve choices after browsing"
### Describe the problem and steps to reproduce it:

- Go to https://code.addons-dev.allizom.org/en-US/compare/618459/versions/1689854...1689855/
- Open the *Compare Versions* popover
- Note the values for *Old version* and *New version*
- Click *Browse* next to `5.1.4-signed-left-fixed`
- Open the *Compare Versions* popover again

### What happened?

The values for *Old version* and *New version*

[2019-12-04 22:36] kumar303 commented on #1278
Actually, I filed https://github.com/mozilla/addons-code-manager/issues/1306 for it because I have a fix now. Thanks for catching this.

[2019-12-05 08:18] ioanarusiczki commented on #1278
@kumar303 Alright, then this issue is verified on AMO dev - FF70(Win10).

[2019-12-05 08:44] ioanarusiczki opened #1311 "Error message is received when clicking below the code lines from the code overview"
STR:
1. Load a compare page https://code.addons-dev.allizom.org/en-US/compare/495710/versions/1541610...1688369/?path=mozilla-recommendation.json
2. Click in the code overview displayed on the right side of the screen in the area where there's no code lines (below the code lines)
3. Observe the screen

Expected result:
Nothing happens.

Actual result:
Oops, something went wrong.

Notes:
Workaround

[2019-12-05 08:46] ioanarusiczki commented on #1266
@kumar303 There might be an issue though for compare pages.
I filed it here https://github.com/mozilla/addons-code-manager/issues/1311

[2019-12-05 09:02] ioanarusiczki commented on #1311
This was observed before https://github.com/mozilla/addons-code-manager/issues/896#issuecomment-512727219
Meaning it is not a regression caused by https://github.com/mozilla/addons-code-manager/issues/1266 as I initially thought.

[2019-12-05 09:09] ioanarusiczki commented on #990
@kumar303 I posted 25+ comments on a compare page - https://code.addons-dev.allizom.org/en-US/compare/495710/versions/1688333...1688369/
After refreshing the pages the comments are still available.
Verified on dev with FF70(win10).

[2019-12-05 10:04] willdurand commented on #1311
I think this sentry issue is related: [ADDONS-CODE-MANAGER-STAGE-Z](https://sentry.prod.mozaws.net/operations/addons-code-manager-stage/issues/6799745/)

[2019-12-05 10:05] willdurand commented on #1311
This one too (I think): [ADDONS-CODE-MANAGER-STAGE-10](https://sentry.prod.mozaws.net/operations/addons-code-manager-stage/issues/6799746/)

[2019-12-05 15:12] kumar303 commented on #1311
This is something we should fix (it might be a quick fix, too) but I think a reviewer would only click on the blank part of the overview by mistake so it's probably not such a critical bug.

[2019-12-05 17:05] mirefly commented on #932
I would like to work on this issue for the next. It looks like that collaborators are not allowed to assign an issue, so I will just leave a message before starting to work on a new issue.

[2019-12-05 19:35] kumar303 opened #1313 "File paths are not preserved when changing version comparisons"
### Describe the problem and steps to reproduce it:

1. Go to a Compare page like https://code.addons-dev.allizom.org/en-US/compare/502868/versions/1688183...1688187/
2. Click on `src/css/modal.css` which loads https://code.addons-dev.allizom.org/en-US/compare/502868/versions/1688183...1688187/?path=src%2Fcss%2Fmodal.css
3. Click *Compare Versions*, change the old version to `8.842.2007` and click

[2019-12-05 19:37] kumar303 commented on #1313
Hi @mirefly. I stumbled on this when I was reviewing https://github.com/mozilla/addons-code-manager/pull/1310 -- sorry I didn't catch it when reviewing https://github.com/mozilla/addons-code-manager/pull/1259 . This issue probably isn't high priority but could you take a look at some point, maybe after other high priority issues?

[2019-12-05 22:25] kumar303 commented on #425
There is some good documentation on how to do this: https://storybook.js.org/docs/testing/automated-visual-testing/

[2019-12-05 22:26] kumar303 commented on #425
Any story with animations might get tricky. Maybe others have solved that.

[2019-12-05 22:30] #1306 closed

[2019-12-06 03:46] kumar303 opened #1315 "CodeOverview story is broken: _fetchAndLoadComments is not a function"
### Describe the problem and steps to reproduce it:

Go to https://mozilla.github.io/addons-code-manager/?path=/story/codeoverview--short-file

### What happened?

The story produces this error:

[code]

In the debugger, I can see that all imports from `../../reducers/comments` at the top of `CommentList/index.tsx` are undefined.

### What did you expect to happen?

It should load the story

### A

[2019-12-06 03:50] kumar303 commented on #1315
This is yet another bug that https://github.com/mozilla/addons-code-manager/issues/425 probably would have caught.

[2019-12-06 05:14] mirefly commented on #1313
The `selectedPath` is reset when [dispatching `loadVersionInfo` for a base version.](https://github.com/mozilla/addons-code-manager/blob/30fd73af64151170c8828caa24ff34550f7e9c0b/src/reducers/versions.tsx#L817)  I created a PR #1317.

[2019-12-06 09:04] ioanarusiczki commented on #1306
@kumar303 This issue is fixed.
Verified on dev with FF70(Win10).

![the versions are mentained](https://user-images.githubusercontent.com/33448286/70310378-2955ec00-1818-11ea-82f0-f82fc4d53910.gif)

[2019-12-06 10:34] wagnerand commented on #1300
Another example:

https://reviewers.addons.mozilla.org/en-US/firefox/files/browse/3462885/file/js/jquery-3.3.1.js#top takes about 6 seconds.
https://code.addons.mozilla.org/en-US/browse/2613096/versions/4918511/?allowSlowPages=false&path=js%2Fjquery-3.3.1.js takes about 10 seconds for the shortened file.
Worse, in this I need to see the entire file. https://code.addons.mozilla.org/en-US/browse/261

[2019-12-06 15:35] #1305 closed

[2019-12-06 16:30] kumar303 opened #1320 "Investigate why certain Browse API requests are delayed"
### Describe the problem and steps to reproduce it:

* Open the Network panel
* Load any browse page, such as https://code.addons-dev.allizom.org/en-US/browse/616959/versions/1688394/?path=popup%2Fquicknote.js

### What happened?

The API calls to fetch the version file and the version are:
* run sequentially
* only begin after the user profile API call

### What did you expect to happen?

Since t

[2019-12-06 16:33] kumar303 commented on #1300
Thanks, these examples will be really helpful in making improvements.

The code for this file displays in about 3 seconds for me in either Firefox 70.0.1 or Chrome 78 on macOS 10.14.6. I guess my machine is a bit faster so that, at least, provides you with some hope that upgrading your work laptop could get you a better experience (as a quick fix). My machine is a MacBook Pro (Late 2018), 2.9 GHz

[2019-12-06 16:40] kumar303 commented on #1320
In the past I've advised against the [prensentation / container pattern](https://medium.com/@dan_abramov/smart-and-dumb-components-7ca2f9a7c7d0) because it discourages autonomous, encapsulated components but it might be a good strategy for prioritizing crucial API requests. That's one thing I hadn't considered.

[2019-12-07 17:35] #677 closed

[2019-12-07 20:24] #1261 closed

[2019-12-08 22:38] #778 closed

[2019-12-09 13:51] bobsilverberg opened #1322 "Consider making ChangeType an enum"
This is a follow-up to https://github.com/mozilla/addons-code-manager/pull/1294#discussion_r354973025.

Because it is used in a number of places, and we are hardcoding its values as strings, it might be nicer to turn [`ChangeType`](https://github.com/mozilla/addons-code-manager/blob/49eed2c2f5b635b28bc69991d545514a0f1771e7/src/%40types/react-diff-view/index.d.ts#L4) into an [`enum`](https://www.ty

[2019-12-09 13:53] #1291 closed

[2019-12-09 14:13] #877 closed

[2019-12-09 14:48] ioanarusiczki commented on #1305
@kumar303 I verified on dev and this issue is no longer reproducible.

[2019-12-09 14:58] ioanarusiczki commented on #1261
@mirefly The error is not reproducible anymore for the first example.
It's still reproducible for https://code.addons-dev.allizom.org/en-US/compare/7560/versions/1252898...1510628/
Let me know if the fix is only meant for https://code.addons-dev.allizom.org/en-US/compare/616909/versions/1688312...1688399/ and if I should open a separate issue for the one above.
Thanks!

[2019-12-09 15:03] ioanarusiczki commented on #677
Verified on dev with FF70(Win10).

![global messages shown](https://user-images.githubusercontent.com/33448286/70446454-c9747500-1aa5-11ea-9a21-7e38cfb463de.png)

[2019-12-09 15:08] ioanarusiczki commented on #715
@mirefly I verified on dev and the Edit button is available. Text can be edited and saved.
Should the comments allow some HTML text such and for bold <b>,<italic> or even links?

[2019-12-09 15:25] ioanarusiczki commented on #1291
@bobsilverberg
I verified on dev and I can no longer comment on the old lines for the [examples](https://github.com/mozilla/addons-code-manager/issues/989#issuecomment-559830210) found.

[2019-12-09 15:50] #755 closed

[2019-12-09 16:22] #1077 closed

[2019-12-09 16:50] #573 closed

[2019-12-09 17:35] mirefly commented on #1261
Oh.. I did not notice the difference of the two examples.

Yes, I only fixed the first one. Please file a separate issue for the second one. @ioanarusiczki Thanks for catching this!

[2019-12-09 17:57] mirefly commented on #715
@ioanarusiczki Thanks for verifying it. I am not sure if the reviewers uses HTML formatting comments. @wagnerand @bobsilverberg do we want to support it?

[2019-12-09 18:54] bobsilverberg commented on #715
Considering that the current workflow is to copy the comments from the Summary and then paste them into a form in the older reviewer tools, it doesn't seem like having the ability to add HTML formatting would help much. Perhaps down the road when we are able to have a tighter integration it will make sense, but for now I don't think it's worth adding support for that.

@wagnerand What do you think

[2019-12-09 20:01] bobsilverberg commented on #920
@wagnerand It looks like we can do this, but there is a complication. Currently, the code overview colours lines to indicate the existence of linter messages. So if there is a linter message anywhere in the group of lines represented by a code overview line, that line is coloured, and the colour is based on the severity of the message.

This means that currently, an overview line could be grey, wh

[2019-12-09 21:34] bobsilverberg commented on #1086
I was doing some experimentation to try to figure out what was going on for #1284, which is still a bit of a mystery, but while doing so I discovered that *not* highlighting the code for minified files makes everything considerably faster.

I wonder how reviewers treat minified files. Do they actually attempt to review the code in them (which seems like it would be very difficult to do)? If not, t

[2019-12-10 09:02] willdurand commented on #1086
Yeah, I agree that we could come up with an heuristic to detect minified files. Such files are always a problem anyway, no matter the editor (e.g., I use `vim` because it is fast but loading (large) minified files is still... slow).

+1

[2019-12-10 09:55] ioanarusiczki commented on #877
@bobsilverberg I verified on dev starting from here https://code.addons-dev.allizom.org/en-US/compare/502868/versions/1541685...1688183/?messageUid=d28ee6a5c4314c0a824bf033e14f2d19&path=src%2Fjs%2FGrammarly-popup.js
I press `a` from here and I land on
https://code.addons-dev.allizom.org/en-US/compare/502868/versions/1541685...1688183/?messageUid=d28ee6a5c4314c0a824bf033e14f2d19&path=src%2Fjs%2FGra

[2019-12-10 10:04] ioanarusiczki opened #1327 "Diff is not loading for removed files"
STR:
1. Load https://code.addons-dev.allizom.org/en-US/compare/7560/versions/1252898...1510628/ for
 old version `3.3.6` and new version is `5.1.6`
2. Observe the page

Expected result:
The Diff loads without errors.

Actual result:
An error is displayed.

![69337214-0698d480-0c69-11ea-9efa-7339a8c81c95](https://user-images.githubusercontent.com/33448286/70519674-fb88e400-1b44-11ea-9333-33aefda55b

[2019-12-10 10:08] ioanarusiczki commented on #1261
@mirefly Ok, I filed it here for further investigation https://github.com/mozilla/addons-code-manager/issues/1327

[2019-12-10 10:10] wagnerand commented on #715
I agree with Bob. No need to add HTML support in the foreseeable future.

[2019-12-10 10:17] wagnerand commented on #920
Agreed. If we do want to make it simpler, we could have the same color for both deletions and additions, indicating a general code _change_.

The code change should take precedence. I don't have the perfect answer for the second question, maybe we should investigate/pursue the idea above?

I don't believe so, but only time (and feedback will tell). We an also take actions to mitigate that proactiv

[2019-12-10 10:21] wagnerand commented on #1086
Usually, reviewers do not attempt to review minified code. Most important for reviewers is to identify code as minified vs not minified. If we can add tooling that supports reviewers in that, even better.

I'm fine with both disabling highlighting and also truncating minified files by default.

[2019-12-10 10:28] ioanarusiczki commented on #1077
@wagnerand @bobsilverberg
I don't have an available version for this add-on, I'm searching using the id or slug on prod.
https://addons.mozilla.org/en-US/firefox/addon/flash-rapid-proxy/
https://addons.mozilla.org/en-US/firefox/addon/2599127/
Perhaps it's the first version which is waiting approval however I don't have access in production.

[2019-12-10 10:51] wagnerand commented on #1077
I assume this is because the add-on has a non-en-US default locale set and no en-US locale exists. Could you see if you can reproduce it with that scenario?

[2019-12-10 12:52] bobsilverberg commented on #1077
That is correct, thanks @wagnerand. To reproduce it you just need an add-on that has a name for any language other than `en-US` and *does not* have a name for `en-US`.

[2019-12-10 13:47] ioanarusiczki commented on #1077
@wagnerand @bobsilverberg Oh, yes, I can try then using another addon. Thanks for the str.

[2019-12-10 14:55] wagnerand commented on #1086
@bobsilverberg Sounds good!

[2019-12-10 15:31] bobsilverberg commented on #877
@ioanarusiczki Yes, that is the expected behaviour. I noticed this too when testing the feature - the fact that the screen is scrolled up when moving between linter messages. I believe this is happening because the anchor is the line number, which is way up at the top of the screen. This may be something we can fix, so it might be worth opening a separate issue for this.

[2019-12-10 18:41] bobsilverberg opened #1328 "Do not highlight code in a truncated file"
This came up in discussions around #1086.

It seems like there is little value in highlighting code in a file that is also being truncated. This would lead to the conclusion that any time we are truncating a file we should also not highlight the code. That might give us a bit of a quick win in terms of performance in those cases where we are currently truncating and also highlighting.

@wagnerand

[2019-12-10 18:54] wagnerand commented on #1328
Yes, let's try this and see if:
* reviewers can live with it
* it gives us a high enough performance gain

[2019-12-11 09:50] ioanarusiczki opened #1332 "Show the linter messages instead of the top of the code line"
Followup for https://github.com/mozilla/addons-code-manager/issues/877

STR:
1. Example 1 : from https://code.addons-dev.allizom.org/en-US/compare/502868/versions/1541685...1688183/?messageUid=3ca54c0b56d4499492c2450023bdc44b&path=src%2Fjs%2FGrammarly-popup.js press `a` scroll down the page then press `a` again

2. Example 2: https://code.addons-dev.allizom.org/en-US/compare/502868/versions/154168

[2019-12-11 09:51] ioanarusiczki commented on #877
@bobsilverberg I filed another issue here https://github.com/mozilla/addons-code-manager/issues/1332

[2019-12-11 10:06] willdurand commented on #1320
On the screenshot above, we also see that the version API is called twice to retrieve the same file. That does sound like a good idea.

[2019-12-11 10:43] willdurand commented on #1320
@bobsilverberg I took a look at what I described in my last comment (above). Reading the code, there is a possible race condition in the `Browse` component when we load a version and a file.

In `loadData()`, here are the steps:

1. `_fetchVersion` with a version ID and a file
2. the `_fetchVersion` thunk calls the API
3. the thunk loads the version info
4. the thunk loads the version file

Now, i

[2019-12-11 12:23] ioanarusiczki commented on #1077
@bobsilverberg I can't reproduce it on dev with FF70(Win10).
The name of the add-on is displayed.  I changed from dev hub for this add-on https://addons-dev.allizom.org/en-US/firefox/addon/privacy-badger-lex/ the default locale to German then I deleted the name, summary or description for en-US.

The name is available

https://code.addons-dev.allizom.org/en-US/browse/495329/versions/1533707/

![na

[2019-12-11 13:30] ioanarusiczki commented on #1077
@wagnerand @bobsilverberg
As discussed on IRC - I deleted en-US and then verified the code manager page.
Looks good to me with FF71(Win10).

https://code.addons-dev.allizom.org/en-US/browse/495329/versions/1533707/

[2019-12-11 16:36] #1328 closed

[2019-12-11 16:47] bobsilverberg commented on #402
@wagnerand This is actually fixed now, because we introduced code that disables highlighting for large files. It is being kept open in order to test/verify #928 when it lands.

1. We should perhaps remove the `mvp` label from this, and bump it down the priority list as it's not currently reproducible.
2. I wonder if we should bump #928 up the priority list. If we can fix it it might allow us to re

[2019-12-11 16:57] bobsilverberg commented on #1320
Thanks for looking into this @willdurand. I hadn't seen it because I was focussing on `mvp` issues at the top of the project queue, but I think performance *is* an `mvp` issue, so I've added that label and I think we *should* treat this as a high priority.

At first glance your suggestion above makes sense, but I want to take a closer look, as I'm wondering if we need to introduce a second loading

[2019-12-11 17:08] wagnerand commented on #402
@bobsilverberg Sounds good, thanks! No need to bump #928 at the moment, but we might revisit that later.

[2019-12-11 19:07] bobsilverberg commented on #1320
Ok, so we do already have `versionFilesLoading` in state, but it must be set to `false` at the point at which we encounter `_fetchVersionFile()` in `loadData()`, otherwise that call to `_fetchVersionFile()` wouldn't be made. Does this indicate a logic error somewhere? Perhaps `versionFilesLoading` needs to be set to `true` when `actions.beginFetchVersion` executes, and maybe that would also resolv

[2019-12-11 21:15] willdurand commented on #1320
I believe it is a race condition so not a logic error _per se_.

Given that we are loading a file along with the version info, we might need to set the `versionFilesLoading` to `true` in `fetchVersion()`, unless we use `fetchVersion()` without loading a file.

Also, in `fetchVersion()` we early return if the boolean flag is `true` but we are not doing this in `fetchVersionFile()`.

[2019-12-12 02:48] mirefly commented on #1327
The app throws an error at
https://github.com/mozilla/addons-code-manager/blob/71ef832f2d8a6644b5bedfb1e5ef8c467b8aef28/src/reducers/fileTree.tsx#L115

The file.entries returned from API is not a complete file tree as expected. I guess it might be better to fix this issue in addons-server. I filed https://github.com/mozilla/addons-server/issues/13092

[2019-12-12 08:29] AlexandraMoga commented on #783
This is still happening and goes hand in hand with other performance issues caused by large files.

[2019-12-12 14:05] willdurand opened #1333 "Load versions without waiting for a current version"
In `Navbar`, we only render `VersionChooser` when we have a `currentVersion` but we use the `currentVersion` to pass the `addonId`, which can be retrieved from the URL.

By using the router data, we could pass the `addonId` from the URL to the `VersionChooser` and thus loading the list of versions and the current version in parallel.

![Screen Shot 2019-12-12 at 15 00 56](https://user-images.githu

[2019-12-12 14:44] willdurand commented on #1333
@bobsilverberg do you see any obvious reason not to show the version chooser from the beginning?

[2019-12-12 15:21] bobsilverberg commented on #1333
I don't think so, but I have a couple of questions:
1. What happens if the `addonId` from the router is invalid? We'll need to make sure we can handle that case.
2. I'm not sure I understand how this improves performance. It sounds like we're showing the code after the version information is returned, and just delaying the appearance of the version chooser. Your idea would allow the version choose

[2019-12-12 15:44] willdurand opened #1334 "Wait until we load the linter messages to render the code in `CodeView`"
I know this sounds counter-productive but when profiling [a browse page with a large file](https://code.addons-dev.allizom.org/en-US/browse/494431/versions/1532144/?allowSlowPages=true&path=lib%2Fadblockplus.js), we can clearly see that we render `CodeView` twice:

1. when we get the version data
2. when we get the linter messages

The problem is that rendering `CodeView` takes time (~8s per rende

[2019-12-12 17:33] bobsilverberg commented on #1334
This seems like a good idea. I guess one question is whether, with a smaller file, it seems like performance is worse because it takes longer to see the code (because we are waiting for the messages too). Do you think that is likely to happen, @willdurand?

[2019-12-12 18:45] willdurand commented on #1334
Indeed, I have the same concern. Given that we would have the version content, we could likely decide whether to render the code or not depending on how big the content is, maybe? (assuming that not rendering the code without linter messages feels slow for small files).

[2019-12-12 20:13] bobsilverberg commented on #1320
The point I was trying to make was that we should make sure we are using `versionFilesLoading` correctly and fully, and your comment directly above suggests that that is not the case.

If we do that and still have a race condition then we can address that, perhaps with your suggested patch, but I do think we should make sure we're using the features we put in place correctly first.

[2019-12-12 20:21] willdurand commented on #1320
Right. As I wrote in the OP, it was a naive patch. I wanted to start a discussion and what you said makes perfectly sense. Let's start by protecting `fetchVersionFile()` first.

[2019-12-12 20:22] bobsilverberg commented on #1320
Agreed! Do you want to open a separate issue about that?

[2019-12-12 20:27] willdurand commented on #1320
Yes

[2019-12-13 12:53] wagnerand opened #1336 "Minified file not truncated"
### Describe the problem and steps to reproduce it:

https://code.addons.mozilla.org/en-US/browse/982178/versions/4923182/?path=contentscript.js is very slow to load, even triggers a "slow js" warning in the browser, because it's minified.

### What happened?

The file was not truncated.

### What did you expect to happen?

The file would show as truncated.

### Anything else we should know?

[2019-12-13 13:15] bobsilverberg commented on #1336
This was fixed via https://github.com/mozilla/addons-code-manager/issues/1328, but that won't land on prod until the push of 2020-01-09, which is why you are not seeing it on prod. You could try checking on dev to see if it's working as expected there.

[2019-12-13 13:18] bobsilverberg commented on #1336
Actually, sorry, this is about truncation, not syntax highlighting. If the file is not above the specified line count, then it won't be truncated, no matter how wide it is.

We haven't discussed truncating wide files, only disabling highlighting for them. Is this something you think we should do? Perhaps we should wait to see if disabling highlighting is enough for now?

[2019-12-13 13:21] wagnerand commented on #1336
We should truncate minified files. Reviewers usually can't review them anyway.

[2019-12-13 13:23] bobsilverberg commented on #1336
These files which are not being truncated do not have a large number of lines, but rather have very long lines. So in this case it would make sense to truncate the *lines* themselves, and not just the length of the file. Do you agree?

[2019-12-13 13:30] wagnerand commented on #1336
Agreed.

[2019-12-13 13:39] bobsilverberg opened #1337 "Disable highlighting in both Compare and Browse mode"
This is meant to address the issue described in #1086

We currently disable highlighting both for long files, and also for files with long lines, in Compare mode. Files with long lines are also slow to load in Browse mode, and some quick and unscientific testing revealed that disabling highlighting helped greatly with this issue.

Therefore we should take the code we have for detecting files which

[2019-12-13 14:03] willdurand commented on #1336
We should think in terms of number of characters instead then (I think)

[2019-12-13 14:15] willdurand opened #1338 "`fetchVersionFile()` should early return when a file is already being loaded"
See the discussion in https://github.com/mozilla/addons-code-manager/issues/1320

---

When `fetchVersion()` loads the version info, a re-render happens and the `Browse` component executes `fetchVersionFile()` because there is no `file` yet. That is because the thunk loads the version info in the state first, and then it loads the file. The re-render happens between these two steps.

We should che

[2019-12-13 14:16] willdurand commented on #1320
I filed https://github.com/mozilla/addons-code-manager/issues/1338

[2019-12-13 14:20] willdurand commented on #1333
Similar to what would happen in other components I guess but that something to keep in mind indeed.

This would allow the browser to make new api calls earlier, which might be a good thing. That being said, it might not give a huge performance boost. I filed the issue because this seems to be an easy fix to parallelize api requests.

[2019-12-13 14:22] willdurand commented on #1334
@bobsilverberg I looked at the code again. We have the logic for the slow alert in `CodeView` so we can only wait for linter messages when we detect a large file.

[2019-12-13 15:44] ioanarusiczki commented on #1328
@bobsilverberg I verified on dev , I tried for files which have less than 3000 code lines and then for 3000+. In both cases the syntax is not highlighted until I load the original file (for browse and compare pages).

The shortened files won't be highlighted.

![not highlighted](https://user-images.githubusercontent.com/33448286/70812308-0d31ec00-1dd0-11ea-9d65-05de13d043e6.gif)

[2019-12-14 15:29] #1313 closed

[2019-12-16 09:46] #122 closed

[2019-12-16 12:38] ioanarusiczki commented on #1313
@mirefly I verified on dev with FF71(Win10) and I could not reproduce this scenario or when I change the new version or both: old and new version.
I didn't find it reproducible on stage either.

![not reproducible](https://user-images.githubusercontent.com/33448286/70906355-d5fd4e00-200e-11ea-8d74-92390faef358.gif)

[2019-12-16 14:19] #1337 closed

[2019-12-16 16:40] bobsilverberg opened #1340 "Look into improving contrast for the code view"
This is based on feedback from the meeting we had today to discuss the code manager.

The contrast when viewing code is considered less ideal than it is in the old tool. I notice that we had an issue earlier (https://github.com/mozilla/addons-code-manager/issues/774) which addressed contrast for code, but only in text files. It's probably worth referring back to that issue to see what was done, bu

[2019-12-16 16:47] bobsilverberg opened #1341 "Select and highlight all instances of a word"
This is based on feedback from the meeting we had today to discuss the code manager.

There was a desire expressed to be able to select a word, and then automatically have all instances of that word highlighted in the current file. It was discussed that using "Find" and "Highlight All" is an existing workaround, and perhaps that is all that is needed.

More discussion about this feature is needed.

[2019-12-16 16:50] bobsilverberg opened #1342 "Ability to mark and jump between locations in a file"
This is based on feedback from the meeting we had today to discuss the code manager.

There was a desire expressed to be able to jump back and forth between locations in a file. For example, a function declaration, and where the function is used. Words like "bookmark" and "backtrack" were used.

More discussion about this feature is needed.

[2019-12-16 16:53] bobsilverberg opened #1343 "Ability to search through all add-on files"
This is based on feedback from the meeting we had today to discuss the code manager.

There was a desire expressed to be able to search for a word across all files in an add-on. An example would be a function that is defined in one file, but called in a different file. Exactly how this would work, and what the UX would be like was not discussed.

More discussion about this feature is needed.

[2019-12-16 17:00] bobsilverberg opened #1344 "Allow a user to manually override the file type"
This is based on feedback from the meeting we had today to discuss the code manager.

In the case where detection of a file type fails, or is incorrect, it would be nice to have a way to manually indicate what the type for a particular file is. For example, if a file is a JavaScript file but is mistakenly identified as an HTML file, this affects code highlighting. In this case it would be nice if

[2019-12-16 17:06] bobsilverberg opened #1345 "Ability to pretty print minified files on the fly"
This is based on feedback from the meeting we had today to discuss the code manager.

There was a desire expressed to be able to format and/or pretty print minified files on request. Exactly how this would work and what the UX would be like was not discussed.

More discussion about this feature is needed.

[2019-12-16 17:10] bobsilverberg opened #1346 "Ability to skip certain file types when using the keyboard shortcuts"
This is based on feedback from the meeting we had today to discuss the code manager.

There was a desire expressed to be able to configure the file tree to skip particular files when navigating via keyboard shortcuts. Examples of files to be skipped include cose/sig, images, DS_Store, etc. It wasn't clear whether this would be a global setting in code-manager, so that all users would have the same

[2019-12-16 20:47] #1286 closed

[2019-12-16 21:01] bobsilverberg commented on #1086
https://github.com/mozilla/addons-code-manager/issues/1337 has fixed this issue. We haven't implemented a check for minified files, per se, but we are checking for files with very long lines, which tends to be the case for minified files. Any files that meet that criteria will have highlighting disabled for them, which resolves the issue discussed here.

[2019-12-16 21:01] #1086 closed

[2019-12-16 21:05] bobsilverberg commented on #1336
@willdurand and I discussed this, and I'm not sure that number of characters will work. There is a width that causes problems, regardless of how long the file is, and, coversely, a file with a lot of short lines is also not a problem, so conflating the two checks might not work.

Another issue is the fact that if a file has too many lines, we truncate it by only displaying the first `x` lines, but

[2019-12-16 21:42] bobsilverberg opened #1347 "Truncate file content based on number of characters in the CodeView"
As discussed in the comments below, it is believed that all we need to do to address performance issues with large files is to truncate the contents of any file that is above a particular threshold. We do not think that we need to disable highlighting for this truncated file.

The contents should include an indication that the file was truncated (e.g., a comment added by code-manager), and a butto

[2019-12-16 22:48] #671 closed

[2019-12-17 10:09] willdurand commented on #1334
According to my local experiments, doing this speeds up a browse page a lot. In -dev, a [slow page](https://code.addons-dev.allizom.org/en-US/browse/494431/versions/1532144/?allowSlowPages=true&path=lib%2Fadblockplus.js) takes above 8s to load for me (usually between 8 and 11s).

With a simple patch, a local dev production build loads the page in less than 5s all the time.

[2019-12-17 10:11] willdurand commented on #1334
I don't think we should try to optimize for the small file scenario though. It will be simpler if everything follows the same path. Loading a small file won't by any slower, we'll simply see the "loading linter info" message before getting the code.

[2019-12-17 12:30] willdurand opened #1351 "TypeError: _codeCanBeHighlighted is not a function"
### Describe the problem and steps to reproduce it:

1. Open https://code.addons-dev.allizom.org/en-US/compare/502955/versions/1541798...1541798/?path=popup%2Fpopup.js

### What happened?

[code]

In local dev, the error is:

[code]

### What did you expect to happen?

No error.

### Anything else we should know?

It looks like a compilation error (webpack related) because the source code seems co

[2019-12-17 14:25] #1351 closed

[2019-12-17 15:14] willdurand opened #1353 "Disable `@typescript-eslint/camelcase` ESLint rule"
Let's disable `@typescript-eslint/camelcase`, it adds very little value and it is annoying because we always have to disable it anyway.

[2019-12-17 15:44] willdurand commented on #1347
@bobsilverberg rethinking this problem, what's the point of having partial files in the end? Does that help the reviewer when they cannot read the last part of a line of code or the end of a function?

How about we don't show any code at all and only display the `SlowAlert`, maybe with a bigger button to show the content anyway? That's what GitHub does and I like it.

[2019-12-17 15:49] willdurand commented on #1068
mmh I cannot reproduce this issue anymore.

[2019-12-17 16:15] bobsilverberg commented on #1068
Perhaps this was fixed by https://github.com/mozilla/addons-code-manager/commit/112e2ebb71ad233e805799fab045f9b6d9a08a37?

[2019-12-17 16:18] bobsilverberg commented on #1347
My thought is that seeing at least part of the code gives the reviewer more information to allow them to decide if they need to see all the code or not. Even if we truncate lines at 500 chars, that should be enough to give the reviewer a clue about whether they should try to examine the whole file or not.

If we don't do this, and just display nothing but a message, what information are we giving

[2019-12-17 16:19] willdurand commented on #1068
ah yes, probably. We should probably display the `Syntax highlighting was disabled for performance` warning.

[2019-12-17 16:21] bobsilverberg commented on #1068
Yes, that should have been added during [112e2eb](https://github.com/mozilla/addons-code-manager/commit/112e2ebb71ad233e805799fab045f9b6d9a08a37), but I believe I have added that in https://github.com/mozilla/addons-code-manager/issues/1347.

[2019-12-17 16:25] willdurand commented on #1347
It tells them that the file is large and that it is going to be slow to render in the browser but I can see how giving an excerpt could be useful.

I am wondering whether we should try to find good enough numbers or make things faster by providing a "fixed" excerpt (rather than a partial content). Sadly, the logic to display the entire content triggers a full page reload. Reviewers have to wait qu

[2019-12-17 16:27] bobsilverberg commented on #1353
I agree it seems annoying, and we do end up disabling it when needed, but will we be happy if non-camelcase vars start sneaking into the code? Does it mean we'll have to look out for that in code reviews? Those are probably not things we really need to worry about, but I think we should ask ourselves these questions before disabling a rule that we actually do want enforced 99% of the time.

[2019-12-17 16:56] willdurand commented on #1353
Will this rule prevent errors?

When we disable this rule, we end up disabling it for the entire file usually because having inline comments everywhere is madness, so I dunno. I think this rule is not helpful.

To me, the worse case scenario is: a new contributor submits a patch and one of us misses a newly added variable containing an underscore during a code review.

[2019-12-17 17:00] bobsilverberg commented on #1353
I agree, that's the danger we face with this change. I also agree that the risk does not outweigh the benefit of disabling the rule. I wasn't trying to say we shouldn't do it, just raising some questions, which I believe have been addressed.

[2019-12-17 17:02] #1338 closed

[2019-12-17 17:29] #1334 closed

[2019-12-17 18:18] bobsilverberg commented on #1347
@willdurand I'm not sure where we stand here. It seems like this current approach is a reasonable way of providing an "excerpt" for now. Do you still feel this approach is not correct, and if so, what specific suggestions do you have for doing something different? I am inclined to implement this change, and then perhaps go back to the users to see how useful/helpful it is.

[2019-12-17 18:39] willdurand commented on #1347
Truncating a file content makes sense because it still gives valid code but when we truncate lines, then the content does not make sense anymore. This is why I thought the number of characters was a better metric because then we would show some valid content.

I understand why truncating lines will make things faster and maybe this is the way to go (that is why I r+ed the patch) but I personally d

[2019-12-17 20:50] bobsilverberg opened #1357 "Extract and update createHunkWithChanges"
While working on #920, I discovered that I need a `createHunkWithChanges` helper in some new tests as well, so this issue is about moving it from `src/components/DiffView/index.spec.tsx` into `src/test-helpers.tsx`, and also updating it so that it can be passed changes that include a simple `lineNumber`, instead of requiring `old_line_number` and `new_line_number`.

[2019-12-18 15:57] willdurand commented on #1347
@bobsilverberg I tried to come up with a simple patch to illustrate what I wrote above: https://gist.github.com/45f5a26cd26cdb08a8f706bd9a04ce7b

It loads fast for me locally (in FF :p) and it still gives useful information. In addition, that is uncomplicated. What do you think? Could you give this patch a try and tell me how you feel?

[2019-12-18 18:31] mirefly commented on #1315
It looks like that db4962c fixed this.

[2019-12-18 18:34] mirefly opened #1359 "VersionChooser story is broken: history is undefined"
### Describe the problem and steps to reproduce it:
https://mozilla.github.io/addons-code-manager/?path=/story/versionchooser--loading-state

### What happened?
Error message: history is undefined

### What did you expect to happen?
It should show the story.

[2019-12-18 19:03] #1315 closed

[2019-12-18 19:03] willdurand commented on #1315
thanks @mirefly

[2019-12-18 20:21] bobsilverberg commented on #1347
I assume this is in place of PR #1348?

Looking at the patch, is it also intended to undo the change that prevented wide files from being highlighted? I.e, we would just truncate all content above 2000 chars but still highlight what we have?

[2019-12-18 20:25] bobsilverberg commented on #1353
@willdurand Were you going to propose a patch for this? I'm about to land something that would need the comment, so patching it first would save adding that comment.

[2019-12-18 20:37] willdurand commented on #1347
Yes, I tried with different jquery files and that loaded fast enough.

My main idea is that it allows reviewers to move fast between files and when they find a file of interest, they will have to load the full content anyway (which is slow). It only reduces the time to "explore" add-on files, which is valid because otherwise we provide false expectations to the reviewers (which is to show part of

[2019-12-18 20:38] willdurand commented on #1353
ha, I haven't started yet :/ Do not wait for me then, I'll propose a patch that remove existing comments.

[2019-12-18 20:47] bobsilverberg commented on #1347
Fair enough. If it works in all cases where things are slow now, I agree it seems like a good approach. Should we also undo the work that landed in https://github.com/mozilla/addons-code-manager/commit/112e2ebb71ad233e805799fab045f9b6d9a08a37, or do you think it's fine to keep that in place? We'd still need to add a message to indicate that the file is not being highlighted.

[2019-12-19 09:34] willdurand commented on #1347
I am not sure. For the few add-ons I've tried, syntax highlighting was not a problem, especially when rendering 2k or 3k characters.

[2019-12-19 09:41] #1359 closed

[2019-12-19 14:05] bobsilverberg commented on #1347
Ok, I guess we can leave it in place for now then. I suppose the upshot of this conversation is that we should change the algorithm for when a file gets "shortened" to be based solely on number of characters, and we should add an indication inside the code itself that the code has been truncated. Do you agree that that is how we should proceed?

[2019-12-19 15:11] willdurand commented on #1347
Yep, I do. If you agree, I'd like to adopt this approach to fix all kind of "truncated content" issues. We should make sure to make it obvious that: (1) the content is truncated and (2) a button can reveal the full content.

[2019-12-19 19:09] bobsilverberg commented on #920
I discovered that the CodeOverview doesn't even currently sketch out the code for the current diff, but rather sketches out the code for the head version of the file. This works, for the most part, because it allows the CodeOverview to highlight linter messages, because linter messages always correspond to a line in the head version of the file.

Changes, on the other hand, can be deletions, in wh

[2019-12-19 20:22] bobsilverberg commented on #1347
Ok, I'm going to rename this issue to reflect these new requirements, and update the description as well.

[2019-12-20 08:52] #1311 closed

[2019-12-20 13:42] bobsilverberg commented on #1357
We don't need this.

[2019-12-20 13:42] #1357 closed

[2019-12-20 13:46] bobsilverberg commented on #1336
We have actually decided to try going the route of truncating based on total number of characters in a file, which is https://github.com/mozilla/addons-code-manager/issues/1347, so that is now a duplicate of this. I will leave this in the 2020.01.09 milestone so it can be verified that landing #1347 does in fact fix this.

[2019-12-20 13:46] #1336 closed

[2019-12-20 14:34] bobsilverberg opened #1366 "Truncate file content based on number of characters in the Compare View"
This is being tackled for the Browse view via #1347, but we also have performance issues for large files in the Compare view. For example, #402 describes a situation in which loading a compare view of a minified diff is very slow. It is expected that the same solution being implemented for #1347 should work for the compare view as well, so we should apply similar changes to the `DiffView` componen

[2019-12-20 16:51] willdurand opened #1367 "stmux does not seem to kill all the child processes anymore"
### Describe the problem and steps to reproduce it:

1. Run `yarn dev`
2. Press <kbd>ctrl + a</kbd> <kbd>k</kbd>

### What happened?

Child processes are not killed. If you try to re-run `yarn dev`, the server will complain about the `port` being in use.

### What did you expect to happen?

Child processes are killed. No error.

[2019-12-20 18:10] #932 closed

[2019-12-20 18:16] mirefly commented on #1367
I could not reproduce this in the latest version 99c00f4  (in Debian 9).

[2019-12-20 20:25] willdurand commented on #1367
ha, that's interesting. thanks for the feedback!

[2019-12-23 12:47] ioanarusiczki opened #1370 "`Network error when attempting to fetch source` message is shown after reloading a compare page"
1. Load a compare page such as https://code.addons-dev.allizom.org/en-US/compare/502955/versions/1541798...1541798/?path=popup%2Fpopup.js and reload it several times
2. Look at the top left side of the screen

Expected result:
page reloads without errors

Actual result:
Sometimes a `Network error` red message is shown. It disappears quickly from the screen.

Notes:
The issue is intermittent on AMO

[2019-12-23 13:16] ioanarusiczki commented on #1351
@willdurand I could not reproduce this issue on dev with FF71(Win10).

![no error](https://user-images.githubusercontent.com/33448286/71360034-1d4b8780-2597-11ea-8a12-b04d403f553a.gif)

[2019-12-23 13:44] ioanarusiczki commented on #1311
@willdurand This issue is no longer reproducible on AMO dev with FF71(Win10).

![no error2](https://user-images.githubusercontent.com/33448286/71360915-0c504580-259a-11ea-8da3-936d0c296479.gif)

[2019-12-23 15:01] ioanarusiczki commented on #1086
@bobsilverberg I could no longer reproduced the issue described above.
Verified on dev with FF71(Win10).

![loads fast](https://user-images.githubusercontent.com/33448286/71364771-d3b66900-25a5-11ea-86a3-a80bdb13c535.gif)

[2019-12-23 21:01] mirefly commented on #1370
It is probably caused by interrupting the page to fetch the next file. If the preloading is finished (or has not started at all), you will not see this "Network error" message when refreshing the page. We might want not to show the error message caused by preloading, but I am not sure.

[2019-12-24 10:16] ioanarusiczki commented on #1338
@willdurand I verified on dev with FF71(Win10) and I see only one API request for the current file.

![only once](https://user-images.githubusercontent.com/33448286/71408451-f8165200-2646-11ea-8fa4-f4b3c3c220c5.png)

[2019-12-24 10:41] ioanarusiczki commented on #1315
@mirefly The page loads without errors.

![without errors](https://user-images.githubusercontent.com/33448286/71409547-a7a0f380-264a-11ea-9709-292f6162c395.png)

[2019-12-25 20:46] #695 closed

[2019-12-27 14:25] ioanarusiczki commented on #1337
@bobsilverberg A code line with a length greater than 500 chars won't be highlighted anymore.
I tested for a line with a length of 501 chars - Browse and Compare pages:

https://code.addons-dev.allizom.org/en-US/browse/618525/versions/1689955/?path=src%2Faction%2Findex.html
https://code.addons-dev.allizom.org/en-US/compare/618525/versions/1689955...1689956/?path=src%2Faction%2Findex.html

how 500

[2019-12-28 21:29] mirefly opened #1375 "Long lines of code do not wrap in Browse"
This looks like a regression of #1207. After some investigation, I think it is caused by CSS selectors having the equal specificity. 190615a exposed this bug.
STR: https://code.addons-dev.allizom.org/en-US/browse/494431/versions/1532144/?path=jquery-ui%2Fjs%2Fjquery-1.7.1.min.js
![image](https://user-images.githubusercontent.com/4984681/71549636-f10c7e00-297d-11ea-84f4-8d96edc1c6be.png)

Expected:

[2020-01-03 12:01] AlexandraMoga commented on #932
Verified fixed on -dev for the browse view:

![2020-01-03_13-58-55](https://user-images.githubusercontent.com/31961530/71722444-6c17dd80-2e31-11ea-9a71-4b5f348cb282.gif)

[2020-01-03 12:21] AlexandraMoga opened #1377 "The side panels are not updated when navigating back to a previously opened file in the compare view"
Follow up for #932

### Describe the problem and steps to reproduce it:
1. Open a compare page - see https://code.addons-dev.allizom.org/en-US/compare/502868/versions/1541685...1688187/?path=manifest.json
2. Select another file from the file tree and wait for it to be loaded
3. Using the browser back button, navigate to the previously opened file
4. Observe the file highlighted in the file tree

#

[2020-01-06 16:32] bobsilverberg commented on #746
This does indeed look like it was fixed via https://github.com/mozilla/addons-code-manager/commit/c3f8ad7c42499ab9a024e7a58e35f9aa1de92637

[2020-01-06 16:32] #746 closed

[2020-01-06 16:33] bobsilverberg commented on #843
This is no longer relevant after the landing of https://github.com/mozilla/addons-code-manager/commit/c3f8ad7c42499ab9a024e7a58e35f9aa1de92637.

[2020-01-06 16:33] #843 closed

[2020-01-06 18:30] #1284 closed

[2020-01-06 18:30] #1375 closed

[2020-01-06 18:55] bobsilverberg commented on #1377
@mirefly This looks similar to https://github.com/mozilla/addons-code-manager/issues/932, which you recently fixed. Do you want to take a look at this and see if a similar fix would work here?

[2020-01-06 19:42] mirefly commented on #1377
@bobsilverberg Yes, a similar fix probably works. Let me prepare a PR for this issue.

[2020-01-07 11:43] ioanarusiczki opened #1379 "The non-highlighted lines look different - Browse versus Compare view"
STR:
1. Go to line of code which is not highlighted (has more than 500 chars) in Browse view https://code.addons-dev.allizom.org/en-US/browse/494431/versions/1689906/?path=jquery-ui%2Fjs%2Fjquery-1.7.1.min.js
2. Using the Compare Versions button view the same file in comparison with another version
https://code.addons-dev.allizom.org/en-US/compare/494431/versions/1532144...1689906/?path=jquery-ui%

[2020-01-07 11:53] ioanarusiczki commented on #1375
@mirefly I verified this issue on dev and it is no longer reproducible. - FF71(Win10).

![wrapped ](https://user-images.githubusercontent.com/33448286/71893708-1440e580-3155-11ea-876b-d5002a3b70d8.gif)

[2020-01-07 21:30] #754 closed

[2020-01-08 13:28] ioanarusiczki commented on #1286
@mirefly I've been testing on dev with FF71(Win10). - No regressions found.
- I could add, edit, delete comments on code lines on Browse and Compare pages.
- I've been testing around the feature using the [API](https://addons-server.readthedocs.io/en/latest/topics/api/reviewers.html#drafting-comments) - POST, PATCH, DEL or GET requests work as before.

[2020-01-08 13:40] ioanarusiczki commented on #1336
@bobsilverberg Is https://github.com/mozilla/addons-code-manager/issues/1347 going to land this milestone ?

[2020-01-08 15:06] ioanarusiczki commented on #1284
@mirefly For this particular file, the text is wrapped - the scroll bar is no longer displayed.
Verified on dev with FF71(Win10).

![looks good](https://user-images.githubusercontent.com/33448286/71988713-111f2580-3239-11ea-9c88-8c812c855d6b.gif)

[2020-01-08 17:01] bobsilverberg commented on #920
@wagnerand Could you please comment on the above, when you get a chance?

[2020-01-08 17:14] wagnerand commented on #920
As a stop-gap, could we check whether we could just indicate added lines in the overview? It would still be a bit inaccurate, but better than nothing, I guess?

[2020-01-08 22:20] #1377 closed

[2020-01-09 09:03] ioanarusiczki commented on #1336
@wagnerand For this file on dev https://code.addons-dev.allizom.org/en-US/browse/502868/versions/1688187/?path=src/js/Grammarly-signin.js I could scroll up and down without having a warning - the highlighting is disabled now, so perhaps that helps too ( I hope my example is similar with the one in production).
The truncation can be verified with the next coming milestone. So, I'm not going to mark

[2020-01-09 14:13] bobsilverberg commented on #1336
Thanks @ioanarusiczki. Your observations are correct. The fact that the file isn't being highlighted should partially address the problem, but the file will also be truncated after #1347 lands, which won't happen until next week.

[2020-01-10 12:22] ioanarusiczki commented on #695
@mirefly I verified on dev the Browse and Compare views - looks good to me. FF72(Win10)
Works for Chrome too.

![the navigation now](https://user-images.githubusercontent.com/33448286/72151778-c7a61600-33b1-11ea-9d85-5665984ef7fa.gif)

[2020-01-10 13:46] #1347 closed

[2020-01-10 14:31] #1366 closed

[2020-01-10 15:27] AlexandraMoga commented on #1377
Verified fixed on -dev:

![2020-01-10_17-25-34](https://user-images.githubusercontent.com/31961530/72164414-51fc7300-33ce-11ea-9643-e9c42e0f8734.gif)

[2020-01-10 15:35] bobsilverberg commented on #920
@willdurand and I discussed this and realized that there is really only one use case that won't be covered by this, and a couple of cases that seem like they won't be covered actually will be, or are irrelevant. Here's a summary:

1. A file is deleted. This means that the entire diff would be one large deletion. This would result in an empty CodeOverview, but that seems like a non-issue because if

[2020-01-13 10:19] ioanarusiczki opened #1389 "Code lines with more than 500 chars are highlighted in Browse view"
@bobsilverberg

This looks like a regression because I did not find it reproducible on stage.
The issue https://github.com/mozilla/addons-code-manager/issues/1337 introduced the disable of highlighting in Browse and Compare views for code lines with a greater length than 500 chars.

STR:
1. Load https://code.addons-dev.allizom.org/en-US/browse/618525/versions/1689955/?path=src%2Faction%2Findex.htm

[2020-01-13 11:09] wagnerand commented on #920
Yes, I agree.

Long-term I'd still like to have deletions reflected in the overview as well. Any code change should be reviewed (and thus indicated in the overview). For example, a developer could remove security checks or constraints.

[2020-01-13 11:26] pranavpandey1998official commented on #1233
hi can i work on this feature

[2020-01-13 11:58] willdurand commented on #1233
@pranavpandey1998official sorry, this issue is not opened to contributors.

[2020-01-13 14:59] bobsilverberg commented on #1389
My apologies for not being more explicit in my description of #1347. That patch actually undid the change that causes truncated files to not be highlighted, so this is expected behaviour. As of the landing of #1347, truncated files have gone back to being highlighted.

[2020-01-13 15:11] pranavpandey1998official commented on #1233
@willdurand can you suggest me something i can work on that is not already assigned

[2020-01-13 15:18] willdurand commented on #1233
On this project, it is kinda tricky so I would suggest you to take a look at the [opened `contrib: welcome` issues in addons-frontend (AMO website)](https://github.com/mozilla/addons-frontend/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+label%3A%22contrib%3A+welcome%22).

[2020-01-13 15:19] ioanarusiczki commented on #1336
I verified the file again on dev with FF72(Win10) - https://code.addons-dev.allizom.org/en-US/browse/502868/versions/1688187/?allowSlowPages=false&path=src%2Fjs%2FGrammarly-signin.js on dev with FF72(Win10).
- the file truncated loads without delays.
- the highlighting was enabled for truncated files so right now to view the original file will take some time to load.

![original file - takes time]

[2020-01-13 15:21] bobsilverberg commented on #420
As this is a code quality issue, I think we should keep it open. I'm not sure when someone will find time to work on it, but it would be nice to not lose track of.

[2020-01-13 15:21] ioanarusiczki commented on #1389
Example nr.3 is not a bug - the highlighting was enabled for truncated files.
See https://github.com/mozilla/addons-code-manager/issues/1347#issue-538678944

[2020-01-13 15:24] ioanarusiczki commented on #1389
@bobsilverberg Yes, I read the issues and realized it later.
The first example is a code line of 501 chars - not truncated. It is applicable in that case too?

[2020-01-13 15:27] bobsilverberg commented on #1389
We removed all logic for disabling highlighting in browse mode, as we now believe it will not be necessary. As long as files over 3000 characters are truncated, it is believed that will address the performance concerns. So yes, the first example is also now the expected behaviour.

[2020-01-13 15:41] ioanarusiczki commented on #1366
@bobsilverberg I've noticed the following for the compare view:
- the first 2000 chars are not visible - there's the `diff truncated by code-manager` message available.  Should those be visible (as it is for the Browse view).
- the highlighting is still disabled in compare view. - perhaps this is not expected right now? I find it alright - it will display the file without delays.

![compare view](

[2020-01-13 15:54] bobsilverberg commented on #1366
@ioanarusiczki Hmm, I see now that if there is only one line in the file, that the entire line will be replaced with the `/* diff truncated by code-manager */` message. That is because the code is accumulating changes until it hits the limit of 3000 characters, at which point it throws away the last change and replaces it with one that reads `/* diff truncated by code-manager */`. Therefore, if th

[2020-01-14 08:14] ioanarusiczki commented on #1389
@bobsilverberg Ok, then I'm going to close this. Thanks for the answers.

[2020-01-14 08:14] #1389 closed

[2020-01-14 11:07] ioanarusiczki commented on #1347
@bobsilverberg The Browse pages seem to be working as described above on FF72(Win10):
 - the highlighting is enabled again.
- the long code lines are truncated at 2000 chars (if they're longer than 3000 chars).

Examples:
https://code.addons-dev.allizom.org/en-US/browse/618541/versions/1689975/?allowSlowPages=false&path=src%2Fcss%2FGrammarly-popup.styles.css
https://code.addons-dev.allizom.org/en-

[2020-01-14 11:20] ioanarusiczki opened #1391 "The first 2000 chars are not visible for compare pages with only one long code line"
Followup for https://github.com/mozilla/addons-code-manager/issues/1366#issuecomment-573732368

STR:
1. Load a compare page which has a long code line with more than 3000 chars
Examples:
https://code.addons-dev.allizom.org/en-US/compare/618525/versions/1689954...1689955/?allowSlowPages=false&path=src%2Fbackground%2Fbackground.bundle.js
https://code.addons-dev.allizom.org/en-US/compare/502868/versi

[2020-01-14 11:56] ioanarusiczki commented on #1366
@bobsilverberg
- I filed the issue discussed above here https://github.com/mozilla/addons-code-manager/issues/1391

I did some more testing and noticed that:
- for pages with more than one code line and one of the lines is  also pretty long, the page is truncated and chars are available but not the same way as in the Browse view which follows the 2000 char rule.

Examples:
https://code.addons-dev.

[2020-01-14 13:51] bobsilverberg commented on #1366
Thank you.

This is expected. The logic for how the code is truncated is different between the Browse and Compare pages. As discussed at https://github.com/mozilla/addons-code-manager/issues/1366#issuecomment-573732368, for the Compare page we take all of the changes (i.e., individual lines), until we have encountered 2000 characters of content (i.e., the total length of all the lines). Once we hi

[2020-01-14 21:10] bobsilverberg commented on #1391
To solve this issue, if a trimmed diff would only end up with a single change, we will trim the contents of that change to the maximum length (which is currently 2000 characters), and then output a second change with the ` /* diff truncated by code-manager */` message.

[2020-01-15 16:55] willdurand opened #1393 "Infinite API call loop"
### Describe the problem and steps to reproduce it:

1. Navigate to https://code.addons-dev.allizom.org/en-US/browse/502955/versions/1541798/
2. Open the network panel

### What happened?

Lots of API calls are made.

### What did you expect to happen?

Not that.

### Anything else we should know?

After some time, it breaks my FF tab. It also breaks the CodeOverview (maybe?) and it makes it hard

[2020-01-15 16:55] willdurand commented on #1393
It affects both the "browse" and "compare" pages: https://code.addons-dev.allizom.org/en-US/compare/502955/versions/1541786...1541798/

[2020-01-15 17:33] mirefly commented on #1393
Addons-server landed the patch (https://github.com/mozilla/addons-server/pull/13237) to allow null sha256 for files except the selected file, and the following logic makes the component cannot get the version file from redux store.

https://github.com/mozilla/addons-code-manager/blob/ee7d455dbe30a6796387f6b284548a0c0c2716d2/src/reducers/versions.tsx#L618

[2020-01-15 17:38] bobsilverberg commented on #1393
Thanks @mirefly! I'll look into that. The API call should return the hash for the selected file, though, so I'm not exactly sure what's causing this, but I'll look there.

[2020-01-15 18:02] mirefly commented on #1393
@bobsilverberg I know you are already working on this. So I just pasted this quick fix I tried (moving sha256 from `entry` to `VersionFile`), in case it is useful.
<details>

[code]
</details>

[2020-01-15 18:34] bobsilverberg commented on #1393
Thanks @mirefly. It does seem like the cause of this is that the entry for the file in question is not updated when we call `loadVersionFile`. I like your suggestion, but I think ideally we should keep `entries` up to date, and that would avoid having to carry the `sha256` around in two places. I'm going to see how complicated that would be to do, and if it will also solve the problem.

[2020-01-15 19:05] bobsilverberg commented on #1393
@mirefly I tried my approach, but because we are storing the `entries` internally in an array, it makes it much more complicated. Your approach seems better, and I tried it and it seems to work well. Because this is a P1, we need to land this ASAP. Some tests also need to be updated, and I'll also have to check there aren't any repercussions on the rest of the code.

I don't want to "steal" your p

[2020-01-15 19:30] mirefly commented on #1393
Thanks @bobsilverberg I created PR #1394

[2020-01-15 19:47] #1393 closed

[2020-01-16 10:15] ioanarusiczki commented on #1393
@mirefly I checked this on dev and stage with FF72(Win10) for browse and compare pages using the Network and I do not see lots of API calls.
I navigated using the keyboard shortcuts or clicking on files and it looks good to me.

An example:

![API calls](https://user-images.githubusercontent.com/33448286/72516082-c06f8400-3859-11ea-99ab-8639af185684.gif)

[2020-01-16 19:28] #920 closed

[2020-01-17 14:23] #1322 closed

[2020-01-17 21:37] mirefly opened #1399 "ESLint warnings: Test has no assertions"
Running `yarn eslint` returns the following warnings. I guess we have to use expect(....).not.[toThrow](https://jestjs.io/docs/en/expect.html#tothrowerror).
[code]

[2020-01-20 09:35] ioanarusiczki opened #1400 "The code overview is not showing the new added lines"
Followup for https://github.com/mozilla/addons-code-manager/issues/920

STR:
1. Load https://code.addons-dev.allizom.org/en-US/compare/618623/versions/1690065...1690066/?path=node_modules%2Fweb-animations-js%2Fsrc%2Fscope.js
2. Click the compare buttons and change the old version to `5.1.3`
3. Observe the code overview

Expected result:
The code overview should show green lines.

Actual result:
Th

[2020-01-20 13:24] ioanarusiczki commented on #920
@bobsilverberg I verified this on dev with FF72(Win10);
- added or modified lines of code are highlighted with green in the code overview. A green line is also visible on the left side of the file's name. I've noticed an issue while changing versions using the `Compare Versions` button and filed it here https://github.com/mozilla/addons-code-manager/issues/1400

Examples:
Added lines

https://code

[2020-01-20 15:09] ioanarusiczki commented on #1322
@bobsilverberg @mirefly
I verified the compare pages with FF72(Win10).
I did not notice issues but I must ask about these behaviors reproducible for both Browse and Compare pages. Please let me know if these are expected:

I load in a tab  a file with the diff shortened and then I click on `Show the original diff`. If I close the tab and reload the page in a new tab I will see the `Shorten the dif

[2020-01-20 20:15] #1232 closed

[2020-01-20 20:23] bobsilverberg commented on #1322
@ioanarusiczki I'm not sure if this addresses your question or not, but here's how the shortening of diffs works:

There's a URL variable called `allowSlowPages` which controls whether long diffs will be shortened or not.

So when you open a new tab and paste in a URL, if the URL contains that parameter then it will be carried over to the new tab. If it does not then the value will be reset. By de

[2020-01-21 09:49] willdurand opened #1403 "Error in Travis CI config"
Builds on the `master` branch started to fail yesterday: https://travis-ci.com/mozilla/addons-code-manager/builds/145272837. Re-running this build did not change anything.

Travis CI tried to install Node `0.10` instead of the versions we have configured in the `.travis.yml` file. `0.10` is likely the default/minimum supported version.

The Travis CI page now has a config "tab", which also provide

[2020-01-21 09:50] #1403 closed

[2020-01-21 09:53] willdurand commented on #1403
A not so old build does not have this problem so something has changed in Travis CI: https://travis-ci.com/mozilla/addons-code-manager/builds/144927108/config, but because the `matrix` key was deprecated, it's expected I guess.

[2020-01-21 14:50] ioanarusiczki commented on #1322
@bobsilverberg Thanks for the information.

It created some confusion for me while testing, because Browse and Compare views don't have the same default values for `allowSlowPages`.

If I load a file in Browse view - the default for `allowSlowPages` is false: this is why I will see the files truncated.

From a Browse view using the Compare Versions I went to a diff for the same file and in Compare

[2020-01-21 15:30] ioanarusiczki opened #1405 "404 status for cose-manifest file is displayed on the top of the compare page"
As a followup for https://github.com/mozilla/addons-code-manager/issues/1322 ( not sure if it's a regression)

STR:
1. I uploaded a new version for an add-on (did not change anything in the code structure for any file)
2. I go to the compare page https://code.addons-dev.allizom.org/en-US/compare/325576/versions/1688306...1690075/

Expected result:
No API error

Actual result:
404 for https://addon

[2020-01-21 15:33] ioanarusiczki commented on #1322
@bobsilverberg I filed an issue which is reproducible agai - https://github.com/mozilla/addons-code-manager/issues/1405 but I can't tell if it's a regression.

[2020-01-21 18:10] mirefly commented on #1405
This is caused by attempting to fetch a deleted file. I can work on this.

[2020-01-21 18:31] bobsilverberg opened #1407 "Investigate using time as a factor in the decision about whether to render a large file"
This comes from a discussion with @willdurand, following a discussion that he had with @wagnerand.

We are currently truncating files based on the size of the content of a file, which works, for the most part, to help speed up the UI when navigating between files. It does, however, result in some files being truncated that wouldn't otherwise need to be.

We would like to implement a solution which

[2020-01-21 18:34] bobsilverberg commented on #1405
That was my first thought as well, but @ioanarusiczki said that she did not change anything about the file structure, which suggests she did not delete any files, so why would there be a delete file between these two versions?

[2020-01-21 19:08] mirefly commented on #1405
I am not sure, and a bit confused about the first step in STR. I just opened the link in this issue (https://code.addons-dev.allizom.org/en-US/compare/325576/versions/1688306...1690075/) and did see the deleted file in the file tree. BTW, the error occurred when preloading the next diff file (which was deleted).
![image](https://user-images.githubusercontent.com/4984681/72834348-d7411c80-3c45-11ea

[2020-01-21 19:36] bobsilverberg commented on #1405
@mirefly Thanks, yes, I see that now too. I know we have a number of issues open to address the fact that we don't have API support currently for deleted files, and I am guessing that one of those might address this. Are your thoughts that we should at least not show an error message for the time being, until the API issues are resolved?

[2020-01-21 21:18] mirefly commented on #1405
I found a few issued about deleted *version*, like https://github.com/mozilla/addons-code-manager/issues/1130  https://github.com/mozilla/addons-server/issues/12726   https://github.com/mozilla/addons-server/issues/12725, but did not find issues about supporting delete *files*.

The current [Browse API](https://addons-server.readthedocs.io/en/latest/topics/api/reviewers.html#browse) returns 404 if

[2020-01-21 23:09] mirefly commented on #1405
I think though the compare page without the selected version file loaded (which has been deleted in the new version), and found two problems:
1. We have no file information, like file size, sha256, download link, to display in accordion menu.
2. The code overview would be blank.

I have no idea what information/overview we should show for the deleted files. Fetching version file using the old vers

[2020-01-22 13:25] ioanarusiczki commented on #1405
@mirefly @bobsilverberg To explain why I said that I did not delete or modified add-on files : I deleted the META-INF folder before uploading the next version because as far as I know the signature folder is auto-generated when the addon is uploaded.
Sorry for creating confusion.

[2020-01-22 14:52] ioanarusiczki commented on #1232
@mirefly I verified this on dev with FF72(Win10):
- for a Browse page: I could navigate to the next or previous file using: `j` or `n` and `k` or `p`.
- for a Compare page: same behavior as before. `n` and `p` show the next/previous change.

[2020-01-22 15:17] ioanarusiczki commented on #920
@bobsilverberg I'm going to mark this issue verified because I think that what I said above about the 404 for a deleted file was discussed in https://github.com/mozilla/addons-code-manager/issues/1405.

[2020-01-22 15:42] bobsilverberg commented on #1405
I agree, @mirefly, that a good first step would be to not issue the API call if the file has been deleted. Do you want to work on that?

[2020-01-22 15:54] mirefly commented on #1405
Yes.

[2020-01-23 05:57] mirefly opened #1410 "File information is in loading state for deleted files in compare mode"
### Describe the problem and steps to reproduce it:
1. Go to https://code.addons-dev.allizom.org/en-US/compare/325576/versions/1688306...1690075/?path=META-INF%2Fmozilla.sf
2. In the left panel (accordion menu), open 'information'

### What happened?
It shows text "Loading file"

### What did you expect to happen?
At least, not be in the loading state. But I am not sure if we should show any  info

[2020-01-23 21:34] bobsilverberg commented on #1410
Thanks for filing this @mirefly! I agree we shouldn't show the "Loading" indicator, and also that the fields are irrelevant for a deleted file. Perhaps we can just show a message saying that the file has been deleted?

[2020-01-23 23:17] mirefly opened #1413 "Add test helper in Compare/index.spec.tsx"
A follow up to #1409, See  https://github.com/mozilla/addons-code-manager/pull/1409#discussion_r370360900
QA: not needed

[2020-01-24 14:58] #1405 closed

[2020-01-24 17:01] mirefly commented on #1410
That would be an easy fix. I like it and will create a PR for this.

[2020-01-29 13:43] ioanarusiczki commented on #1405
I verfied on dev with FF72(Win10) and the issue I described above is not reproducible anymore.

@mirefly  @bobsilverberg Going from compare pages to browse pages there are two things I've noticed while testing:

- for the case when the new version does not contain files because they've been deleted, if I change the view (going from the compare file to the new version's Browse page, I will see the

[2020-01-29 13:59] #1410 closed

[2020-01-29 14:09] #1413 closed

[2020-01-29 15:11] mirefly commented on #1405
@ioanarusiczki  Thanks for testing all these cases.

I guess we should let the selected path fall back to the initial path (manifest.json) when the file does not exist in the new version. That should fix all these errors.

[2020-01-29 15:25] mirefly commented on #1405
[500 error ](https://github.com/mozilla/addons-server/issues/13374) in fetching `validation.json` is because the file is too old (https://github.com/mozilla/addons-server/issues/13374#issuecomment-579785782). Probably we do not need to support it, do we?

[2020-01-30 09:14] ioanarusiczki commented on #1405
@mirefly Thanks for filing the issues. I will check on them and close this one. - verified on dev with FF72(Win10).

[2020-01-30 13:11] ioanarusiczki commented on #1410
@mirefly I verified on dev with FF72(Win10) - it looks like the information is no longer available for the deleted files - compare pages

![deleted files information](https://user-images.githubusercontent.com/33448286/73452523-bd54b780-4372-11ea-9d7c-7ef6085c183a.png)

[2020-01-30 14:42] ioanarusiczki opened #1418 "Load the initial path - manifest.json on versions with deleted files"
Followup for https://github.com/mozilla/addons-code-manager/issues/1405#issuecomment-579800035

STR;
1. Load https://code.addons-dev.allizom.org/en-US/compare/7560/versions/1252898...1688305/?path=chrome.manifest
2. Go to the new version's Browse page by clicking the "Compare Versions" button
3. Observe the page

Actual result:
Unexpected status for GET /reviewers/addon/7560/versions/1688305/?file

[2020-01-30 14:49] ioanarusiczki commented on #1405
@mirefly  I filed https://github.com/mozilla/addons-code-manager/issues/1418 (I initially thought https://github.com/mozilla/addons-code-manager/issues/1410 is about the errors discussed above)

[2020-01-31 08:05] mirefly commented on #1410
Thanks for verifying it.

Yes, it is expected since the file has been removed in the new version.

[2020-02-04 19:29] bobsilverberg commented on #1418
Just to clarify, what is being asked here is that, if we browse a version with a path in the URL which points to a file that does not exist in that version, we should just display the default file (which is `manifest.json`) instead.

@ioanarusiczki Is that correct?

@wagnerand / @mirefly What do you think?

[2020-02-04 19:35] wagnerand commented on #1418
I think it's fine to just keep displaying 404 in the described case.

[2020-02-04 19:51] bobsilverberg commented on #1418
I'm not sure the description accurately reflects the problem. It seems that the whole UI is questionable when this happens. For example, if you follow the STR, you end up with a page that looks like this:

<img width="983" alt="Screenshot 2020-02-04 14 46 31" src="https://user-images.githubusercontent.com/142755/73780833-37af7e00-475d-11ea-9b61-092b77eae75a.png">

Note that in addition to the erro

[2020-02-04 19:59] mirefly commented on #1418
Yeah, I just saw this. The fire tree really needs to be updated.

I personally prefer falling back to 'manifest.json', so that user does not need to close the 404 alert message. If we would like to have this 404 message displayed to warn the user that the file does not exist, we might need to disable the loading spinner at least.

[2020-02-05 10:01] ioanarusiczki commented on #1418
@bobsilverberg Either to fall-back to manifest.json or to display a [message](https://github.com/mozilla/addons-code-manager/issues/1405#issuecomment-579760860) on the page with a link instead of a continuous loading state maybe?

[2020-02-05 10:49] wagnerand commented on #1418
I agree we should fix it, but I don't see it as something very urgent. I would probably change it to P5 if it wasn't for

[2020-02-05 13:12] mirefly opened #1421 "File list contains files that have been deleted in Browse"
From: https://github.com/mozilla/addons-code-manager/issues/1418#issuecomment-582085009
STR:
1.   Load https://code.addons-dev.allizom.org/en-US/compare/7560/versions/1252898...1688305/?path=chrome.manifest
2. Go to the new version's Browse page by clicking the "Compare Versions" button
3. Observe the page

Actual result: The file list does not change
Expected result: The file list should be updat

[2020-02-05 13:14] mirefly commented on #1418
Filed another issue #1421 to track the issue about the file list.

[2020-02-05 15:57] muffinresearch commented on #1367
@willdurand can you still repro?

[2020-02-05 16:04] bobsilverberg commented on #1367
I can still reproduce this. It would be nice to fix it if we can.

[2020-02-05 19:09] bobsilverberg opened #1423 "Add performance tracking"
Performance is an issue at times in the app. In order to get a better handle on exactly how often performance concerns occur, we intend to add performance tracking which will contribute data to InfluxDB.

This issue is about investigating how to do that, and adding the code to record the metrics that concern us.

[2020-02-05 21:24] bobsilverberg opened #1424 "Investigate using GA User Timings for performance tracking"
This is a spin-off from #1423. Discussions in Slack indicate that trying to collect client-side performance measures and loading them into InfluxDB might be quite challenging, and could also be of questionable value, if we can get the info we need in an easier way.

This issue is about investigating [Google Analytics' User Timings](https://developers.google.com/analytics/devguides/collection/analy

[2020-02-06 18:17] bobsilverberg commented on #1424
I filed https://bugzilla.mozilla.org/show_bug.cgi?id=1613724 to add Google Analytics to code manager.

[2020-02-06 19:01] bobsilverberg commented on #1424
@wagnerand @jvillalobos We're going to try using Google Analytics to record and report performance metrics for the code manager front end. Should we also add page tracking at this time? It's a pretty simple thing to do, so I don't think it would cost much in terms of time. I'm just not sure what value we'd derive from the data. It might let us know how widely/often the new code manager is being us

[2020-02-06 19:09] wagnerand commented on #1424
@bobsilverberg I would lean towards deferring this to later to allow us to evaluate how useful/needed having that data would be.

[2020-02-06 20:32] bobsilverberg commented on #1424
Thanks @wagnerand. It's certainly simpler *not* to do it.

[2020-02-06 22:03] bobsilverberg opened #1425 "Add code to support Google Analytics"
This is a spin-off from #1424 and is about implementing a `tracking` utility, similar to the one we have in addons-frontend, so that we can use Google Analytics for Code Manager.

[2020-02-11 15:15] bobsilverberg commented on #1400
I’ve been looking into this and I’m a bit stumped at the moment. @mirefly and/or @willdurand (when you get back from leave), I was wondering if you might be able to take a look and see if you have any advice.

I have identified the fact that `VersionFileViewer` is being re-rendered when the new diff is loaded after switching the versions in the Compare dialog, but that `CodeOverview` is not re-ren

[2020-02-11 15:53] #1425 closed

[2020-02-11 18:55] bobsilverberg opened #1430 "Storybook build is failing on CI"
The task to build and deploy Storybook is failing on Travis. See https://travis-ci.com/mozilla/addons-code-manager/jobs/285952503

It seems that the problem is a result of the [upgrade to react-scripts 3.3.1](https://github.com/mozilla/addons-code-manager/pull/1419).

Let's back that out to see if it fixes the problem, and then investigate whether this is a known issue and/or if there are any fixe

[2020-02-11 19:30] bobsilverberg commented on #1430
Looks like this did indeed fix the issue: https://travis-ci.com/mozilla/addons-code-manager/builds/148443985

I am investigating what the issue with 3.3.1 might have been to see if we can make some changes and then upgrade.

[2020-02-11 19:46] mirefly commented on #1400
We had seen a similar thing before  https://github.com/mozilla/addons-code-manager/pull/1154#pullrequestreview-306809886. The following patch works, but it may be not a good idea to pass the string of a long list `insertedLines`.
[code]

[2020-02-11 20:00] jvillalobos commented on #1424
I agree with Andreas.

[2020-02-11 20:27] bobsilverberg commented on #1400
Thanks @mirefly! So, looking at #1154, the idea is to force a remount when `insertedLines` changes? Is that what makes it re-render? I suppose we could hash `insertedLines`, which would make it smaller and still cause it to be different when the contents of `insertedLines` changes. Does that sound like a reasonable idea?

[2020-02-11 21:44] mirefly commented on #1400
Yes.

Yes, that makes sense. But I feel that maybe we do not need hashing. Here is one idea in my mind:
- Let [`insertedLines` ](https://github.com/mozilla/addons-code-manager/blob/c0316f414a023411f8ddc94911d86174f064fd53/src/components/VersionFileViewer/index.tsx#L75-L78)to be `undefined` if the `compareInfo &&compareInfo.diff`

[2020-02-11 22:04] mirefly commented on #1400
I had a second thought. We do not need the first step. Just passing `insertedLines.length` as key might be enough.

[code]

[2020-02-12 12:29] bobsilverberg commented on #1400
@mirefly That makes sense, but I can't help feeling like this is a hack. I wonder if it would make more sense to use `mapStateToProps` to bring in `insertedLines`, and whether doing that might make the component re-render when `insertedLines` changes? I'll give that a try and see if it works.

[2020-02-12 13:15] bobsilverberg commented on #1400
Hmm, even that didn't work, which seems really odd. I guess we can go with the `key` route, but I don't really understand why `mapStateToProps` isn't working to make the `CodeOverview` re-render when the redux state changes for `compareInfo`.

[2020-02-12 16:18] bobsilverberg commented on #1400
@mirefly I figured it out. It has to do with the way we're passing the render function into `LinterProvider`. We had to do something similar in [`CodeView`](https://github.com/mozilla/addons-code-manager/blob/master/src/components/CodeView/index.tsx#L259-L262) so that *it* would re-render when state changed. If we do the same thing in `CodeOverview` it works!  I'll create a patch.

[2020-02-12 17:44] mirefly commented on #1400
My understanding is: anonymous function acts like a random value and force `CodeOverview` to re-render. In other words, the React element returned by `render()` is always treated as different from the last rendered one, and requires updating UI even though it does not need sometimes.

As long as it does not hurt performance, I am OK with using arrow function in this case.

[2020-02-13 13:38] #1391 closed

[2020-02-13 14:04] #1421 closed

[2020-02-13 17:38] mirefly opened #1435 "FullscreenGrid story layout is broken"
https://mozilla.github.io/addons-code-manager/?path=/story/fullscreengrid--default
The toggle buttons are expected at the bottom of the side panels.
![image](https://user-images.githubusercontent.com/4984681/74461140-47108480-4e4b-11ea-9160-3b1860ffdce8.png)

[2020-02-14 13:55] ioanarusiczki commented on #1391
@bobsilverberg Verified on dev with FF73(Win10).

![the first 2000chars](https://user-images.githubusercontent.com/33448286/74537227-5b837880-4f42-11ea-8082-9badf88432c7.png)

[2020-02-14 15:05] ioanarusiczki opened #1436 "The file in the old version should load when going from compare to the browse page"
Followup for https://github.com/mozilla/addons-code-manager/issues/1421

STR:
1. Go to https://code.addons-dev.allizom.org/en-US/compare/7560/versions/1252898...1688247/?path=install.rdf
2. Click the Compare Versions button and then click the Browse page for the old version

Expected result:
the page should load

Actual result:
Loading linter information...

Notes:
I receive a 404 in the Network f

[2020-02-14 17:24] mirefly commented on #1436
Thanks for filing this. When investigating #1327, I noticed the same problem in compare mode ( https://code.addons-dev.allizom.org/en-US/compare/7560/versions/1252898...1510628/). I believe 404 error is because the version is too old and has no linter info, but code-manager should load the file when failed to fetch linter messages (`validtion.json` file).

[2020-02-14 19:20] muffinresearch opened #1438 "Add slack notifications"

[2020-02-17 11:06] ioanarusiczki commented on #1436
@mirefly Yes, further looking into versions, same for https://code.addons-dev.allizom.org/en-US/compare/7560/versions/1509666...1510628/

[2020-02-17 11:26] ioanarusiczki commented on #1421
@mirefly
- After the 404 is displayed on the new version I could navigate away from it by clicking another file from the file tree and go back to the compare page.
- I could select another new version too.
- I see the file list updated accordingly: the deleted files are not available in the file list (chrome, defaults, chrome.manifest or install.rdf folders) - Browse view.

[2020-02-17 12:20] #1438 closed

[2020-02-18 05:24] mirefly opened #1443 "TypeError [ERR_INVALID_ARG_TYPE] in dev"
In dev, we have the following error when go to http://localhost:3000/. It happened after c0316f414a023411f8ddc94911d86174f064fd53, and has something to do with `react-script`. There are many bug reports like https://github.com/facebook/create-react-app/issues/8490, and probably only  need to upgrade `react-script` to `3.4.0`, hoping [Stroybook can be built on CI](https://github.com/mozilla/addons-

[2020-02-18 16:16] bobsilverberg commented on #1443
@mirefly I'm not seeing this error locally with the latest master. We had a problem with `react-scripts 3.3.1`, but I suppose we can try `3.4.0` and maybe that fixes the issue that existed with `3.3.1`. There are a couple of other dependency updates in the PR queue, so we can try applying all of them and see if Storybook is still happy.

[2020-02-18 16:39] bobsilverberg commented on #1443
Odd, after applying https://github.com/mozilla/addons-code-manager/pull/1434 locally I am now seeing that error, but there doesn't seem to be anything in that PR that would have caused such a change. I'll try applying the others and see what happens.

[2020-02-18 16:43] mirefly commented on #1443
The steps I tried are: (on cb64c4c)
1. `git clone` a clean repository
2. run `yarn` then `yarn dev` (Yarn Lock file is changed after running `yarn`)
3. Go to `localhost:3000` and see the error

[2020-02-18 17:13] bobsilverberg commented on #1443
Unfortunately, merging the PR to update `react-scripts` to `3.4.0` broke the Storybook build again. I suppose a working local install is more important at this point than the `storybook-build` task, but this is something we're going to have to deal with. It would be good to see if merging https://github.com/mozilla/addons-code-manager/pull/1442 helps in this case, but it currently has a conflict b

[2020-02-18 18:16] bobsilverberg commented on #1430
We needed to update `react-scripts` to `3.4.0` to deal with #1443, but that has re-introduced this build error, so I am re-opening this. Storybook runs fine locally, it's the build step that times out on CI. Here's a recent failure: https://travis-ci.com/mozilla/addons-code-manager/builds/149496260

[2020-02-18 18:25] bobsilverberg commented on #1430
I tried reverting back to `3.3.0` of `react-scripts` on top of all the other dependency updates that landed, but that brings back the error reported at #1443, so I'm not sure what we can do at this point. We should probably report the issue to `create-react-app`. My attempts to reproduce the problem locally resulted in some pretty serious issues on my local environment which caused me to lose near

[2020-02-18 18:29] #1400 closed

[2020-02-18 18:33] mirefly commented on #1430
I tried `yarn storybook-build` locally (react-scripts 3.4.0) and see
[code]
Then found https://github.com/storybookjs/storybook/issues/9777. It seems some one found workaround, but I am not sure.

[2020-02-18 19:41] mirefly commented on #1436
I could not reproduce this in dev now (d120186). I had no idea how it got fixed... :)

[2020-02-18 19:45] bobsilverberg commented on #1430
Thanks @mirefly! That does look like the problem we are having, and some said that downgrading `react-scripts` to 3.3.0 fixed it, but I don't think we have that option. The other workaround they discuss with webpack might not be possible with `create-react-app`. I guess we should keep an eye on that issue and see if a proper resolution is achieved.

[2020-02-19 10:59] ioanarusiczki commented on #1400
@bobsilverberg this is fixed on dev - FF73(Win10)

![green added lines](https://user-images.githubusercontent.com/33448286/74828296-8e998380-5317-11ea-9537-dfba6643bbbf.gif)

[2020-02-20 13:19] #1430 closed

[2020-02-20 14:12] bobsilverberg opened #1450 "Record fetch performance in Google Analytics"
This is a spin-off from #1423.

This is about capturing `fetch` performance via `window.Performance` and recording it in Google Analytics so that we can report on it and identify performance bottlenecks.

For QA:

After this lands, "beacons" for Google Analytics pings should appear in the network panel to indicate that a timing was sent for each `fetch` operation. There will also be a console mess

[2020-02-20 14:29] bobsilverberg commented on #1162
This has been fixed. I'm not sure exactly when, but I believe it had to to with permissions.

[2020-02-20 15:34] AlexandraMoga commented on #1162
@bobsilverberg I dug more into this and it looks like we didn't reproduce the issue anymore because we were both logged in with admin users (at least in my case).

I've tried again to open the [deleted version](https://code.addons-dev.allizom.org/en-US/browse/618821/versions/1690254/) with a user that had `Addons:PostReview` and `Addons:ViewDeleted` permissions and I was able to reproduce the issu

[2020-02-20 16:27] bobsilverberg commented on #1162
@EnTeQuAk I thought maybe this was fixed but it appears it is not. Do we need to make another change to permissions to support this?

[2020-02-20 17:53] bobsilverberg opened #1451 "Use transport mechanism "beacon" for Google Analytics"
As dicsussed with @muffinresearch, we should be using `beacon` instead of `image` as the transport mechanism for Google Analytics, which will allow us to remove the analytics host from the image-src CSP for the site.

[2020-02-21 12:50] AlexandraMoga commented on #1162
I've reverified on -dev with an other add-on example and now I'm not reproducing the issue any longer. See also my comment in https://github.com/mozilla/addons-server/issues/12725#issuecomment-589639733

[2020-02-21 12:50] #1162 closed

[2020-02-21 13:19] AlexandraMoga commented on #1163
I've re-verified this on -dev and the issue can no longer be reproduced.
I've tested both with an admin user and an add-on reviewer that also has `Addons:ViewDeleted` permissions and I was able to compare a deleted version with a non-deleted version.
Examples:
https://code.addons-dev.allizom.org/en-US/compare/618827/versions/1690268...1690270/
https://code.addons-dev.allizom.org/en-US/compare/6188

[2020-02-21 13:19] #1163 closed

[2020-02-21 14:25] bobsilverberg commented on #928
Removing this from the project as we determined this is not something we want to do at this time. See https://github.com/mozilla/addons-code-manager/pull/1411#issuecomment-582088619

[2020-02-24 13:21] #1451 closed

[2020-02-24 19:17] bobsilverberg commented on #1130
It is thought that this might now be fixed. @ioanarusiczki would you be able to re-verify?

[2020-02-25 10:04] ioanarusiczki commented on #1130
@bobsilverberg I could still reproduce the issue on dev - FF73(Win10).

I can browse a deleted version but I cannot add a comment.

![the problem](https://user-images.githubusercontent.com/33448286/75236652-c2b4ee80-57c6-11ea-8570-6d4621e7c688.gif)

[2020-02-25 13:16] bobsilverberg commented on #1130
Thanks @ioanarusiczki!

[2020-02-27 12:02] bobsilverberg opened #1462 "Truncate all minified files by default"
~~Depends on #1495~~

This was discussed in a meeting on Feb. 26, 2020. There is no need for a reviewer to see the full contents of a minified file, and it is known that minified files cause performance issues for the code manager, both in Browse and in Compare mode. While this will not solve the performance issue for all large files, it is seen as a quick win which is fairly easy to implement and

[2020-02-27 17:04] #1450 closed

[2020-02-27 19:16] bobsilverberg commented on #1450
It looks like this is working and these are now being captured on dev.

[2020-02-27 19:19] bobsilverberg opened #1463 "Try to get more code coverage for PerformanceObserver"
This is a follow-up to #1454, which introduced a `PerformanceObserver` into the `App` component. I was unable to figure out how to get code coverage for the body of the callback that is defined when we create the new `PerformanceObserver`, but I intend to continue looking into this and hopefully will be able to figure it out and fix the coverage that is missing according to https://codecov.io/gh/m

[2020-03-02 11:19] ioanarusiczki commented on #1450
@bobsilverberg Looks good to me. I checked on dev and I can confirm the GA events are registered as described [above](https://github.com/mozilla/addons-code-manager/issues/1450#issue-568328415).

There's only one behavior I'd like to ask about because I can't tell if it is an expected behavior:
- if I navigate on a couple of files (let's say I am on a Browse page) and I open another Browse/Compare

[2020-03-02 13:47] bobsilverberg commented on #1450
Thanks @ioanarusiczki. What you observe is expected as we are only tracking 	`fetch` requests, and after we have fetched a particular file once, we do not need to fetch it a second time.

[2020-03-04 16:25] diox opened #1471 "Provide link to old file viewer for browse view"
In https://github.com/mozilla/addons-server/issues/13634 we're discussing replacing all links to the old file viewer in AMO by links to the code manager.

We need to add a way to fall back to the old file viewer if things go wrong in code-manager. Later when we sunset the old file viewer we'll then remove that link.

[2020-03-04 17:13] bobsilverberg commented on #1471
We currently have a link in Code Manager that points back to Reviewer Tools, but it points to the review page. E.g., https://code.addons.mozilla.org/en-US/browse/2273944/versions/4970869/ has a link that points back to https://reviewers.addons.mozilla.org/reviewers/review/dark-theme-enhanced.

I believe this is about adding an additional link to Code Manager that points directly to the legacy file

[2020-03-04 17:14] bobsilverberg commented on #1471
We also need to decide where these links should be in the Code Manager.

[2020-03-04 21:33] bobsilverberg commented on #1471
Looking at the API response to the `compare` endpoint, it looks like we get a `file.id` for the newer version, but not for the older version, so I don't think we have the data we need to build the URL for the legacy file viewer for the compare view. Does this sound like an accurate assessment @EnTeQuAk?

[2020-03-05 13:37] EnTeQuAk commented on #1471
That is correct, we currently only expose the `file.id` for the current version. It should be fairly easy to also expose the parent file id.

[2020-03-05 13:47] bobsilverberg opened #1472 "Provide link to old file viewer for compare view"
Depends on https://github.com/mozilla/addons-server/issues/13650

This is a spin-off from https://github.com/mozilla/addons-code-manager/issues/1471. Because we need new data from the API to implement the link to the compare page in the legacy file viewer, I am making this a separate issue.

This is about adding a link from the Code Manager to the legacy file viewer for a compare page. This link n

[2020-03-05 13:49] bobsilverberg commented on #1471
Note that because of https://github.com/mozilla/addons-server/issues/13650, this issue is now just going to cover the browse page, and the compare page will be dealt with via https://github.com/mozilla/addons-code-manager/issues/1472.

[2020-03-05 19:20] spoji opened #1475 "EOL conversion should be ignored when comparing two versions"
This compare url https://code.addons.mozilla.org/en-US/compare/920304/versions/4957090...4976235/ shows that all the codebase has been changed. This is because the dev uploaded a new version with converted EOL.

### What happened?
One example of this can be found at https://code.addons.mozilla.org/en-US/compare/920304/versions/4957090...4976235/?path=app%2Feventpages%2Fblock.html

In this file, on

[2020-03-06 13:05] diox commented on #1475
I don't have access to the old file viewer in prod, so to be clear: the file does show up as modified in the old file viewer sidebar, but the diff is empty for this file because it's only EOL changes, right ?

[2020-03-06 13:30] bobsilverberg opened #1476 "Update PartialExternalVersion type after API changes land"
https://github.com/mozilla/addons-server/issues/13651 is removing some fields from the API response for reviewers APIs. We should update our types accordingly, after the changes land.

It looks like the only type affected is [PartialExternalVersion](https://github.com/mozilla/addons-code-manager/blob/master/src/reducers/versions.tsx#L93), but whoever works on this should verify that.

[2020-03-06 13:32] spoji commented on #1475
Yes, the file does show up as modified in the old file viewer sidebar. The diff is almost empty beside the two real line changed (lines 24, 25).

![old_tool](https://user-images.githubusercontent.com/2171145/76087556-67cc8580-5f84-11ea-832c-3413961d8ff0.png)

On a side note, while the actual code diff works fine for this use case in the old system, the sidebar has the same issue has the new system

[2020-03-06 13:43] bobsilverberg commented on #1475
This sounds like something we should try to fix, but it also sounds like the fix would be best on the server, where the diff and change info is generated, as opposed to on the client. Do you think we should transfer this to addons-server, @diox?

[2020-03-06 16:57] #1471 closed

[2020-03-09 14:59] ioanarusiczki commented on #1471
@bobsilverberg I verified the browse pages on dev with FF73(Win10):
- the link redirects the user to the old viewer - the same file is shown in the old viewer in a new tab.
- the link is a bit invisible having the same color as the username. On the other had the old viewer will be removed. If you want me to file an issue let me know.

![same font](https://user-images.githubusercontent.com/33448286

[2020-03-10 17:15] #1476 closed

[2020-03-11 11:13] ioanarusiczki commented on #1476
@bobsilverberg https://github.com/mozilla/addons-server/issues/13651 has been verified. The information removed from the endpoints was not used by code manager. Let me know what to verify in code manager or is this a qa not needed ?

[2020-03-11 11:16] willdurand commented on #1476
I think if there is no obvious problem then it can be marked as verified.

[2020-03-11 13:36] ioanarusiczki commented on #1476
@willdurand Looks good to me.
Verified on dev with FF73(Win10).

[2020-03-12 12:53] ioanarusiczki opened #1479 "The Legacy View link is available on the compare pages too"
Followup for https://github.com/mozilla/addons-code-manager/issues/1471#issuecomment-595239376

1. Go to a compare page in code manager and click on a file then click the Legacy viewer (up on the right corner).

Expected result:
It should show the compare file in the old viewer. I don't think the link should be available yet.

Actual result:
It redirects to the browse page of the "new" version".

[2020-03-18 16:45] diox commented on #1472
Was blocked by https://github.com/mozilla/addons-server/issues/13650, which has since been implemented.

[2020-03-24 14:25] bobsilverberg opened #1495 "Add uses_unknown_minified_code to the versions reducer"
This is a spin off from #1462, as the patch for that looks like it's going to be fairly large.

This is just about taking the data provided by the API for `uses_unknown_minified_code` and adding that data to the file data that is stored by the `versions` reducer.

[2020-03-25 11:46] #1495 closed

[2020-03-25 12:08] bobsilverberg opened #1499 "Allow CodeView to accept a single `file` prop instead of 3 individual props"
This is a follow-up to https://github.com/mozilla/addons-code-manager/pull/1498.

`CodeView` accepts [some props](https://github.com/mozilla/addons-code-manager/blob/master/src/components/CodeView/index.tsx#L64-L68) which are properties of a `VersionFile`. #1498 introduced yet another of those, the `isMinified` prop.

It seems like it might be better to just accept a `file` prop, and then destruct

[2020-03-25 12:16] #1472 closed

[2020-03-25 12:16] #1479 closed

[2020-03-25 14:57] #1462 closed

[2020-03-26 18:37] willdurand opened #1500 "Update circle-ci config version to 2.1"
Circle CI has a new pipeline feature, enabled by default in `2.1`. We do not really need this feature but it is the future and addons-server already uses version `2.1`.

[2020-03-26 18:44] bobsilverberg commented on #1423
I realized that we can use the React [Profiler API](https://reactjs.org/docs/profiler.html) to do this (which I believe @muffinresearch suggested some time ago). I thought the React Profiler only worked for interactive profiling in the browser, but there is an API that can be used to capture rendering performance. I am working on a patch using this.

[2020-03-30 14:09] ioanarusiczki commented on #1472
@mirefly @bobsilverberg

The link redirects correctly to the compare page from the old file viewer which opens in a new tab.

I randomly encountered time outs on the old file viewer page - this happens from admin tools too (See https://github.com/mozilla/addons-server/issues/13446) and in general, pages will load quite slow.
Still, it is not reproducible as often as for the issue I filed on server

[2020-03-30 14:12] #1500 closed

[2020-03-31 10:30] ioanarusiczki commented on #1479
@bobsilverberg @mirefly
- this issue is no longer reproducible. Legacy Viewer redirects the user to the old compare page.
- I did not have delays loading pages from the old viewer for this addon
https://code.addons-dev.allizom.org/en-US/compare/618936/versions/1690422...1690423/?path=app.js
- some pages load but slower
https://code.addons-dev.allizom.org/en-US/compare/618913/versions/1690391...169

[2020-03-31 13:03] ioanarusiczki commented on #1462
@bobsilverberg
I've been checking on dev with FF74(Win10) so test results are here:
- minified files over 2000 chars show the browse page and compare page being trimmed by  default. The browse page is trimmed with syntax highlighting and the compare page is trimmed and the syntax highlighting is disabled.
Examples:
https://code.addons-dev.allizom.org/en-US/compare/618937/versions/1690424...1690425

[2020-03-31 13:49] bobsilverberg commented on #1462
@ioanarusiczki I see what's going on. When we trim a file, we reduce it down to 2000 characters, so if the file is already less than 2000 characters then trimming it actually does nothing. The message is still being displayed, however, that says the file was trimmed, because we *tried* to trim it, but trimming it yielded nothing. Can you please open a separate issue for minified files that are les

[2020-03-31 14:16] ioanarusiczki commented on #1495
@bobsilverberg Looks good to me. I verified browse and compare pages - layout, file navigation, keyboard navigation, draft comments, code overview.
Verified on dev with FF74(win10).